<div class="bg-white z-30 w-[340px] overflow-x-hidden overflow-scroll fixed h-full border-l pr-10 pl-3">
	<div class="bg-gray-100 top-0 sticky -mr-7 w-64 pr-7 py-4">
		<img src="./../img/logo-dark2x.png" class="max-h-12 w-[118px]"/>
	</div>
	<div class="mt-10">
		<h6 class="text-gray-400 font-bold text-xs">
			پیشخوان مدیریت
		</h6>
		<div class="mt-2 flex flex-col gap-2">
			<div class="flex justify-between items-center hover:bg-white text-gray-500 hover:text-blue-500 transition-all rounded-3xl py-1.5 px-3 -mr-5">
				<div class="flex gap-2 items-center">
					<svg xmlns="http://www.w3.org/2000/svg" class="inline stroke-current" width="30" height="30" fill="none" viewbox="0 0 24 24">
						<path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="m13 13-2-2m2 0-2 2m6.418 0h-2m-6.835 0-2.001-2m2.001 0-2.001 2m12.421 6.003H4.997a2 2 0 0 1-2-2V6.997a2 2 0 0 1 2-2h14.006m0 14.006a2 2 0 0 0 2-2V6.997a2 2 0 0 0-2-2"/>
					</svg>

					<p class="font-bold text-base">
						صفحه پیشخوان
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="mt-10">
		<h6 class="text-gray-400 font-bold text-xs">
			همکاری و پیام ها
		</h6>
		<div class="mt-2 flex flex-col gap-2">
			<div class="flex justify-between items-center hover:bg-white text-gray-500 hover:text-blue-500 transition-all rounded-3xl py-1.5 px-3 -mr-5">
				<div class="flex gap-2 items-center">
					<svg xmlns="http://www.w3.org/2000/svg" class="inline stroke-current" width="30" height="30" fill="none" viewbox="0 0 24 24">
						<path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="m13 13-2-2m2 0-2 2m6.418 0h-2m-6.835 0-2.001-2m2.001 0-2.001 2m12.421 6.003H4.997a2 2 0 0 1-2-2V6.997a2 2 0 0 1 2-2h14.006m0 14.006a2 2 0 0 0 2-2V6.997a2 2 0 0 0-2-2"/>
					</svg>

					<p class="font-bold text-base">
						درخواست های همکاری
					</p>
				</div>

				<span class="text-blue-500 text-xs font-bold py-px px-1 bg-blue-100 rounded-sm ml-4">
					2
				</span>
			</div>
			<div class="flex justify-between items-center hover:bg-white text-gray-500 hover:text-blue-500 transition-all rounded-3xl py-1.5 px-3 -mr-5">
				<div class="flex gap-2 items-center">
					<svg xmlns="http://www.w3.org/2000/svg" class="inline stroke-current" width="30" height="30" fill="none" viewbox="0 0 24 24">
						<path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M12.33 15.332 14 12h-4l1.67-3.331"/>
						<circle cx="12" cy="12" r="9.004" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
					</svg>

					<p class="font-bold text-base">
						پیام های ارسالی
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="mt-9">
		<h6 class="text-gray-400 font-bold text-xs">
			نمایندگان آریا کیش
		</h6>
		<div class="mt-2 flex flex-col gap-2">
			<div class="flex justify-between items-center hover:bg-white text-gray-500 hover:text-blue-500 transition-all rounded-3xl py-1.5 px-3 -mr-5">
				<div class="flex gap-2 items-center">
					<svg xmlns="http://www.w3.org/2000/svg" class="inline stroke-current" width="30" height="30" fill="none" viewbox="0 0 24 24">
						<path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M12.33 15.332 14 12h-4l1.67-3.331"/>
						<circle cx="12" cy="12" r="9.004" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
					</svg>

					<p class="font-bold text-base">
						درخواست های نمایندگی
					</p>
				</div>
			</div>
			<div class="flex justify-between items-center hover:bg-white text-gray-500 hover:text-blue-500 transition-all rounded-3xl py-1.5 px-3 -mr-5">
				<div class="flex gap-2 items-center">
					<svg xmlns="http://www.w3.org/2000/svg" class="inline stroke-current" width="30" height="30" fill="none" viewbox="0 0 24 24">
						<path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M12 14.001v3.001m3.001-8.503h1.5a1 1 0 0 1 1.001 1v1a2 2 0 0 1-2 2.001h-.5"/>
						<path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M10 6.998h4a1 1 0 0 1 1.001 1V12a2 2 0 0 1-2 2.001H11a2 2 0 0 1-2.001-2V7.997a1 1 0 0 1 1-1Z" clip-rule="evenodd"/>
						<path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M8.999 8.499h-1.5a1 1 0 0 0-1.001 1v1a2 2 0 0 0 2 2.001h.5M14 17.002h-4"/>
						<rect width="18.008" height="18.008" x="2.996" y="2.996" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" rx="5"/>
					</svg>
					<p class="font-bold text-base">
						لیست نمایندگان فعال
					</p>
				</div>
			</div>
			<div class="flex justify-between items-center hover:bg-white text-gray-500 hover:text-blue-500 transition-all rounded-3xl py-1.5 px-3 -mr-5">
				<div class="flex gap-2 items-center">
					<svg xmlns="http://www.w3.org/2000/svg" class="inline stroke-current" width="30" height="30" fill="none" viewbox="0 0 24 24">
						<path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M6.998 21.004h-1a3.001 3.001 0 0 1-3.002-3.001v-1M17.002 2.996h1a3.001 3.001 0 0 1 3.002 3.002v1m-18.008 0v-1a3.001 3.001 0 0 1 3.001-3.002h1m14.007 14.006v1a3.001 3.001 0 0 1-3.002 3.002h-1"/>
						<path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M8.999 5.998H15a3.001 3.001 0 0 1 3.002 3V11H5.998V8.999a3.001 3.001 0 0 1 3-3.001Z" clip-rule="evenodd"/>
						<path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M18.003 14.001v1A3.001 3.001 0 0 1 15 18.003H9A3.001 3.001 0 0 1 5.998 15v-1m-2.001-3h16.006"/>
					</svg>

					<p class="font-bold text-base">
						مدیریت تیکت های نمایندگان
					</p>
				</div>
			</div>
			<div class="flex justify-between items-center hover:bg-white text-gray-500 hover:text-blue-500 transition-all rounded-3xl py-1.5 px-3 -mr-5">
				<div class="flex gap-2 items-center">
					<svg xmlns="http://www.w3.org/2000/svg" class="inline stroke-current" width="30" height="30" fill="none" viewbox="0 0 22 22">
						<g clip-path="url(#a)">
							<path stroke-width="1.5" d="M5.294 11.75H4c-.69 0-1.25.56-1.25 1.25v5c0 .69.56 1.25 1.25 1.25h1.294c.69 0 1.25-.56 1.25-1.25v-5c0-.69-.56-1.25-1.25-1.25Zm6.354-9h-1.294c-.69 0-1.25.56-1.25 1.25v14c0 .69.56 1.25 1.25 1.25h1.294c.69 0 1.25-.56 1.25-1.25V4c0-.69-.56-1.25-1.25-1.25Zm6.352 5h-1.294c-.69 0-1.25.56-1.25 1.25v9c0 .69.56 1.25 1.25 1.25H18c.69 0 1.25-.56 1.25-1.25V9c0-.69-.56-1.25-1.25-1.25Z"/>
						</g>
						<defs>
							<clipPath id="a">
								<path fill="#fff" d="M0 0h22v22H0z"/>
							</clipPath>
						</defs>
					</svg>

					<p class="font-bold text-base">
						درخواست های تسویه
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="mt-9">
		<h6 class="text-gray-400 font-bold text-xs">
			فروشگاه آریاکیش
		</h6>
		<div class="mt-2 flex flex-col gap-2">
			<div class="flex justify-between items-center hover:bg-white text-gray-500 hover:text-blue-500 transition-all rounded-3xl py-1.5 px-3 -mr-5">
				<div class="flex gap-2 items-center">
					<svg xmlns="http://www.w3.org/2000/svg" class="inline stroke-current" width="30" height="30" fill="none" viewbox="0 0 24 24">
						<path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M11.125 12.005h4.177m-4.177 3.992 6.002.005"/>
						<rect width="18.008" height="18.008" x="2.996" y="2.996" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" rx="2"/>
						<path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M11.125 7.993h6.002M7.122 7.748a.25.25 0 1 0 .002.5.25.25 0 0 0-.002-.5m0 4.002a.25.25 0 1 0 .002.5.25.25 0 0 0-.002-.5m0 4.002a.25.25 0 1 0 .002.5.25.25 0 0 0-.002-.5"/>
					</svg>

					<p class="font-bold text-base">
						مدیریت محصولات
					</p>
				</div>
				<svg xmlns="http://www.w3.org/2000/svg" class="inline stroke-current" width="25" height="25" fill="none" viewbox="0 0 24 24">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="m14 8-4 4 4 4"/>
				</svg>
			</div>
			<div class="flex justify-between items-center hover:bg-white text-gray-500 hover:text-blue-500 transition-all rounded-3xl py-1.5 px-3 -mr-5">
				<div class="flex gap-2 items-center">
					<svg xmlns="http://www.w3.org/2000/svg" class="inline stroke-current" width="30" height="30" fill="none" viewbox="0 0 24 24">
						<path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M12 21v0a9 9 0 0 1-9-9v0a9 9 0 0 1 9-9v0a9 9 0 0 1 9 9v0a9 9 0 0 1-9 9Z" clip-rule="evenodd"/>
						<path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M13.591 7.659a2.25 2.25 0 1 1-3.182 3.182 2.25 2.25 0 0 1 3.182-3.182m2.73 8.882a2.905 2.905 0 0 0-2.865-2.453h-2.912a2.904 2.904 0 0 0-2.865 2.453"/>
					</svg>

					<p class="font-bold text-base">
						مدیریت دسته بندی ها
					</p>
				</div>
				<svg xmlns="http://www.w3.org/2000/svg" class="inline stroke-current" width="25" height="25" fill="none" viewbox="0 0 24 24">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="m14 8-4 4 4 4"/>
				</svg>
			</div>
		</div>
		<div class="mt-9">
			<h6 class="text-gray-400 font-bold text-xs">
				گالری تصاویر و اعلان ها
			</h6>
			<div class="mt-2 flex flex-col gap-2">
				<div class="flex justify-between items-center hover:bg-white text-gray-500 hover:text-blue-500 transition-all rounded-3xl py-1.5 px-3 w-52 -mr-5">
					<div class="flex gap-2 items-center">
						<svg xmlns="http://www.w3.org/2000/svg" class="inline stroke-current" width="30" height="30" fill="none" viewbox="0 0 24 24">
							<path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="m20.64 15.373-4.121-4.12a.959.959 0 0 0-1.358 0l-4.121 4.12"/>
							<path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M17.76 20.173H6.24a2.88 2.88 0 0 1-2.88-2.88V5.773a2.88 2.88 0 0 1 2.88-2.88h11.52a2.88 2.88 0 0 1 2.88 2.88v11.52a2.88 2.88 0 0 1-2.88 2.88Z" clip-rule="evenodd"/>
							<path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="m15.84 20.173-6.041-6.04a.959.959 0 0 0-1.358 0l-4.653 4.652M9.375 8.399a.36.36 0 1 1-.51.509.36.36 0 0 1 .51-.51"/>
						</svg>

						<p class="font-bold text-base">
							مدیریت تصاویر گالری
						</p>
					</div>
				</div>
				<div class="flex justify-between items-center hover:bg-white text-gray-500 hover:text-blue-500 transition-all rounded-3xl py-1.5 px-3 -mr-5">
					<div class="flex gap-2 items-center">
						<svg xmlns="http://www.w3.org/2000/svg" class="inline stroke-current" width="30" height="30" fill="none" viewbox="0 0 24 24">
							<path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M16 12H4m6.999-5L16 12.001l-5.001 5M16 4h2a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2h-2"/>
						</svg>

						<p class="font-bold text-base">
							مدیریت اطلاع رسانی
						</p>
					</div>
					<svg xmlns="http://www.w3.org/2000/svg" class="inline stroke-current" width="25" height="25" fill="none" viewbox="0 0 24 24">
						<path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="m14 8-4 4 4 4"/>
					</svg>
				</div>
			</div>
		</div>
		<div class="mt-9">
			<h6 class="text-gray-400 font-bold text-xs">
				مدیریت مشتریان
			</h6>
			<div class="mt-2 flex flex-col gap-2">
				<div class="flex justify-between items-center hover:bg-white text-gray-500 hover:text-blue-500 transition-all rounded-3xl py-1.5 px-3 -mr-5">
					<div class="flex gap-2 items-center">
						<svg xmlns="http://www.w3.org/2000/svg" class="inline stroke-current" width="30" height="30" fill="none" viewbox="0 0 24 24">
							<rect width="18.008" height="18.008" x="2.996" y="2.996" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" rx="4"/>
							<path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M6.998 2.996h9.004v10.116a2.89 2.89 0 0 1-2.89 2.89H2.996V6.998a4.002 4.002 0 0 1 4.002-4.002Z" clip-rule="evenodd"/>
							<path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M6.998 2.996H11v6.225A1.78 1.78 0 0 1 9.22 11H2.996V6.998a4.002 4.002 0 0 1 4.002-4.002Z" clip-rule="evenodd"/>
						</svg>

						<p class="font-bold text-base">
							لیست مشتریان
						</p>
					</div>
					<svg xmlns="http://www.w3.org/2000/svg" class="inline stroke-current" width="25" height="25" fill="none" viewbox="0 0 24 24">
						<path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="m14 8-4 4 4 4"/>
					</svg>
				</div>
				<div class="flex justify-between items-center hover:bg-white text-gray-500 hover:text-blue-500 transition-all rounded-3xl py-1.5 px-3 -mr-5">
					<div class="flex gap-2 items-center">
						<svg xmlns="http://www.w3.org/2000/svg" class="inline stroke-current" width="30" height="30" fill="none" viewbox="0 0 24 24">
							<path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M6.998 9.856v4.287m5.115-4.286h-1.19a.952.952 0 0 0-.953.953v2.38c0 .526.427.953.953.953h1.19"/>
							<path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M16.394 14.25h-.75a1 1 0 0 1-1-1v-2.5a1 1 0 0 1 1-1.001h.75a1 1 0 0 1 1 1v2.502a1 1 0 0 1-1 1Z" clip-rule="evenodd"/>
							<path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M2.996 16.002V7.998a5.002 5.002 0 0 1 5.002-5.002h8.004a5.002 5.002 0 0 1 5.002 5.002v8.004a5.002 5.002 0 0 1-5.002 5.002H7.998a5.002 5.002 0 0 1-5.002-5.002Z" clip-rule="evenodd"/>
						</svg>

						<p class="font-bold text-base">
							درخواست های نصب و تعمیر
						</p>
					</div>
					<svg xmlns="http://www.w3.org/2000/svg" class="inline stroke-current" width="25" height="25" fill="none" viewbox="0 0 24 24">
						<path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="m14 8-4 4 4 4"/>
					</svg>
				</div>
			</div>
			<div class="flex -mr-2 justify-between mt-5 mb-5">
				<div class="text-blue-600 font-bold text-xs flex gap-1 items-center">
					<svg xmlns="http://www.w3.org/2000/svg" class="inline stroke-current" width="15" height="15" fill="none" viewbox="0 0 24 24">
						<path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M3 12.01h8.99m-4.48-7.8 4.48 7.8m0 0 4.52 7.77m-4.52-7.77L7.5 19.79m8.99-15.58-4.5 7.8m9.01 0h-9.01"/>
						<circle cx="12" cy="12" r="9" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
					</svg>

					<p class="text-gray-400 hover:text-blue-600">پشتیبانی</p>
				</div>
				<div class="text-blue-600 font-bold text-xs flex gap-1 items-center">
					<svg xmlns="http://www.w3.org/2000/svg" class="inline stroke-current" width="15" height="15" fill="none" viewbox="0 0 24 24">
						<path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M12 3c4.982 0 9 4.018 9 9s-4.018 9-9 9m0 0c-4.982 0-9-4.018-9-9s4.018-9 9-9"/>
						<path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M10.168 4.06c-2.89 4.825-2.89 11.056 0 15.881a2.114 2.114 0 0 0 3.665 0c2.89-4.825 2.89-11.056 0-15.88a2.114 2.114 0 0 0-3.665 0Z" clip-rule="evenodd"/>
						<path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M3 12h18"/>
					</svg>
					<div class="flex gap-1 text-gray-400 hover:text-blue-600 items-center">
						<p>فارسی</p>
						<svg xmlns="http://www.w3.org/2000/svg" class="inline stroke-current" width="15" height="15" fill="none" viewbox="0 0 24 24">
							<path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="m16 14-4-4-4 4"/>
						</svg>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
