{% extends 'main/base.html.twig' %}

{% block title %}
	آریاکیش &#8211; آریا کیش مرکز گارانتی، خدمات پس از فروش و تعمیرات لوازم خانگی بزرگ و کوچک و محصولات آرایشی بهداشتی
{% endblock %}

{% block body %}
	<div class="container mx-auto">
		<div class="justify-center lg:justify-start h-[414px] flex items-center lg:bg-bgDes bg-resBg bg-no-repeat bg-cover">
			<div class="lg:mr-40 mt-8 w-80">
				<div class="h-[72px] text-2xl font-black">
					<p>آریاکیش مرکز ارائه گارانتی و خدمــات پس از فــروش</p>
				</div>
				<p class="text-sm font-normal w-[323px] h-[52px] mt-6 text-gray-400">
					لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ.
				</p>
				<div class="flex gap-3 mt-[2rem]">
					<button class="text-white bg-sky-600 flex items-center text-sm w-[118px] h-9 border rounded-xl gap-1.5 pr-3">
						ثبت کارت گارانتی
					</button>
					<button>
						<a class="flex items-center border-gray-300 text-sm w-32 h-9 border rounded-xl gap-3 pr-3" href="page4.html">
							<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="none" viewbox="0 0 14 14">
								<path fill="#334155" fill-rule="evenodd" d="M2.336 11.164c-.71-.684-1.167-1.94-1.167-4.456 0-2.517.458-3.773 1.167-4.456.719-.694 1.986-1.083 4.372-1.083 2.385 0 3.653.389 4.372 1.083.709.683 1.167 1.94 1.167 4.456 0 2.516-.458 3.772-1.167 4.456-.72.694-1.987 1.083-4.372 1.083-2.386 0-3.653-.39-4.372-1.083Zm4.372 2.252C1.829 13.416 0 11.89 0 6.708 0 1.524 1.83 0 6.708 0s6.708 1.524 6.708 6.708c0 5.183-1.83 6.708-6.708 6.708Z" clip-rule="evenodd"/>
								<path fill="#334155" fill-rule="evenodd" d="M11.478 11.478a.584.584 0 0 1 .826 0l1.525 1.524a.584.584 0 1 1-.827.827l-1.524-1.525a.584.584 0 0 1 0-.826Z" clip-rule="evenodd"/>
							</svg>

							<p>استعلام گارانتی</p>
						</a>
					</button>
				</div>
			</div>
		</div>
		<div class="grid grid-cols-2 lg:grid-cols-6 md:grid-cols-3 gap-7 mt-28 text-slate-700">
			<div class="shadow-md relative px-5 py-7 justify-center items-center flex flex-col gap-2 bg-white rounded-ro2.5">

				<svg xmlns="http://www.w3.org/2000/svg" width="26" height="16" fill="none" viewbox="0 0 26 16">
					<path fill="#334155" fill-rule="evenodd" d="M8.248 13.762c-.055-.122-.123-.388-.123-.962s.068-.84.123-.962c.025-.057.052-.112.221-.195.227-.112.652-.238 1.437-.323.77-.085 1.774-.12 3.094-.12 1.32 0 2.325.035 3.094.12.785.085 1.21.211 1.436.323.17.083.197.138.222.195.055.122.123.388.123.962s-.068.84-.123.962c-.025.057-.052.112-.221.195-.227.112-.652.237-1.437.323-.77.085-1.774.12-3.094.12-1.32 0-2.325-.035-3.094-.12-.785-.085-1.21-.211-1.437-.323-.169-.083-.196-.138-.221-.195ZM13 16c-5.353 0-6.5-.565-6.5-3.2 0-2.635 1.147-3.2 6.5-3.2s6.5.565 6.5 3.2c0 2.635-1.147 3.2-6.5 3.2Zm0-9.6c-1.346 0-2.438-1.075-2.438-2.4S11.655 1.6 13 1.6s2.438 1.075 2.438 2.4S14.345 6.4 13 6.4ZM13 8c-2.244 0-4.063-1.79-4.063-4S10.757 0 13 0c2.244 0 4.063 1.79 4.063 4S15.242 8 13 8Zm8.938-3.2c0-1.589-1.287-3.2-3.25-3.2a.806.806 0 0 0-.813.8c0 .442.364.8.813.8.961 0 1.625.789 1.625 1.6s-.664 1.6-1.625 1.6a.806.806 0 0 0-.813.8c0 .442.364.8.813.8 1.963 0 3.25-1.611 3.25-3.2Zm-17.876 0c0-1.589 1.287-3.2 3.25-3.2.45 0 .813.358.813.8 0 .442-.364.8-.813.8-.961 0-1.625.789-1.625 1.6s.664 1.6 1.625 1.6c.45 0 .813.358.813.8 0 .442-.364.8-.813.8-1.963 0-3.25-1.611-3.25-3.2ZM19.5 9.6c0-.442.364-.8.813-.8.901 0 1.687.021 2.354.09.662.068 1.258.187 1.758.41.519.23.941.575 1.217 1.075.266.481.358 1.036.358 1.625 0 .592-.093 1.128-.32 1.59a2.453 2.453 0 0 1-1.024 1.076c-.818.46-1.918.534-3.043.534a.806.806 0 0 1-.813-.8c0-.442.364-.8.813-.8 1.149 0 1.837-.098 2.237-.323a.846.846 0 0 0 .367-.382c.088-.18.158-.458.158-.895 0-.44-.07-.699-.16-.86-.08-.144-.206-.27-.459-.382-.271-.121-.67-.216-1.258-.277-.582-.06-1.3-.081-2.186-.081a.806.806 0 0 1-.812-.8Zm-13 0c0-.442-.364-.8-.813-.8-.901 0-1.687.021-2.354.09-.662.068-1.258.187-1.758.41-.52.23-.941.575-1.217 1.075C.092 10.856 0 11.41 0 12c0 .592.093 1.128.32 1.59.232.476.585.83 1.024 1.076.818.46 1.918.534 3.043.534a.806.806 0 0 0 .813-.8c0-.442-.364-.8-.813-.8-1.149 0-1.837-.098-2.237-.323a.846.846 0 0 1-.367-.382c-.088-.18-.158-.458-.158-.895 0-.44.07-.699.16-.86.08-.144.206-.27.458-.382.272-.121.672-.216 1.259-.277.582-.06 1.3-.081 2.185-.081a.806.806 0 0 0 .813-.8Z" clip-rule="evenodd"/>
				</svg>

				<p class="text-sm font-normal text-slate-700">درخواست نمایندگی</p>
				<a href="page4.html" class="absolute w-full h-full left-0 top-0"></a>
			</div>

			<div class="shadow-md relative px-5 py-7 justify-center items-center flex flex-col gap-2 bg-white rounded-ro2.5">
				<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" viewbox="0 0 20 20">
					<path fill="#334155" fill-rule="evenodd" d="M2.031 14.675c-.254-1.144-.364-2.654-.364-4.675 0-2.02.11-3.53.364-4.675.25-1.125.617-1.792 1.06-2.235.442-.442 1.109-.808 2.234-1.059 1.144-.254 2.654-.364 4.675-.364 2.02 0 3.53.11 4.675.364 1.125.25 1.792.617 2.235 1.06.442.442.808 1.109 1.058 2.234.255 1.144.365 2.654.365 4.675 0 2.02-.11 3.53-.364 4.675-.25 1.125-.617 1.792-1.06 2.235-.442.442-1.109.808-2.234 1.059-1.144.254-2.654.364-4.675.364-2.02 0-3.53-.11-4.675-.364-1.125-.25-1.792-.617-2.235-1.06-.442-.442-.808-1.109-1.059-2.234ZM10 20C1.765 20 0 18.235 0 10S1.765 0 10 0s10 1.765 10 10-1.765 10-10 10Z" clip-rule="evenodd"/>
					<path fill="#334155" fill-rule="evenodd" d="M6.667 11.667a1.667 1.667 0 1 1 0-3.334 1.667 1.667 0 0 1 0 3.334Zm0 1.666a3.333 3.333 0 1 1 0-6.666 3.333 3.333 0 0 1 0 6.666Zm5-5c0-.46.373-.833.833-.833h3.333a.833.833 0 0 1 0 1.667H12.5a.833.833 0 0 1-.833-.834Zm0 3.334c0-.46.373-.834.833-.834h3.333a.833.833 0 0 1 0 1.667H12.5a.833.833 0 0 1-.833-.833Z" clip-rule="evenodd"/>
				</svg>

				<p class="text-sm font-normal text-slate-700">سفارش کارت گارانتی</p>
				<a href="#" class="absolute w-full h-full left-0 top-0"></a>
			</div>

			<div class="shadow-md relative px-5 py-7 justify-center items-center flex flex-col gap-2 bg-white rounded-ro2.5">
				<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" viewbox="0 0 20 20">
					<path fill="#334155" fill-rule="evenodd" d="M9.177 10.833c0-.46.373-.833.834-.833h3.344a.833.833 0 1 1 0 1.667H10.01a.833.833 0 0 1-.834-.834Zm-3.344 3.345c0-.46.373-.833.834-.833h6.688a.833.833 0 1 1 0 1.666H6.667a.833.833 0 0 1-.834-.833Z" clip-rule="evenodd"/>
					<path fill="#334155" fill-rule="evenodd" d="M14.107 1.1c.427.307.809.758.886 1.376.055.433.067.826.062 1.146 1.949.276 3.398.881 4.215 2.2.88 1.423.855 3.438.497 5.996-.431 3.086-1.116 5.27-2.88 6.59C15.17 19.69 12.617 20 8.957 20c-1.576 0-2.913-.06-4.03-.22-1.114-.159-2.06-.425-2.82-.872a3.894 3.894 0 0 1-1.681-1.922c-.33-.801-.443-1.741-.424-2.803v-.092l.003-.275A63.645 63.645 0 0 1 .213 9.56C.318 8.3.477 6.92.718 5.64c.24-1.27.569-2.5 1.037-3.434.246-.49.696-.834 1.145-1.08C3.364.87 3.925.67 4.524.51 5.724.195 7.19.023 8.611.002c1.417-.02 2.85.106 3.977.421.562.157 1.096.373 1.519.677ZM2.42 5.615c.22-1.077.493-2.003.824-2.662.026-.05.134-.19.456-.366.306-.167.728-.326 1.249-.464 1.04-.275 2.365-.435 3.686-.454 1.325-.02 2.585.103 3.505.36.462.129.79.278.992.424.196.14.206.224.207.23.036.287.049.553.05.78a41.267 41.267 0 0 0-2.347-.058c-3.66 0-6.213.31-7.93 1.593a5.308 5.308 0 0 0-.692.617Zm1.69.718c-1.174.877-1.8 2.424-2.228 5.485-.128.92-.202 1.708-.215 2.388-.017.95.089 1.637.298 2.144.2.484.508.841.985 1.121.498.294 1.206.516 2.212.66 1.002.143 2.248.202 3.793.202 3.704 0 5.713-.349 6.933-1.26 1.174-.878 1.8-2.425 2.228-5.486.362-2.594.265-4.033-.264-4.887-.483-.78-1.49-1.3-3.764-1.513-.86-.081-1.867-.115-3.046-.115-3.703 0-5.712.349-6.933 1.26Z" clip-rule="evenodd"/>
				</svg>

				<p class="text-sm font-normal text-slate-700">درخواست نصب</p>
				<a href="#" class="absolute w-full h-full left-0 top-0"></a>
			</div>

			<div class="shadow-md relative px-5 py-7 justify-center items-center flex flex-col gap-2 bg-white rounded-ro2.5">
				<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" viewbox="0 0 20 20">
					<path fill="#334155" fill-rule="evenodd" d="M9.006 10.994c-.038-.184-.067-.487-.067-.994 0-.506.029-.81.067-.994.184-.038.487-.067.994-.067.506 0 .81.029.994.067.038.184.066.488.066.994 0 .507-.028.81-.066.994-.184.038-.488.067-.994.067-.507 0-.81-.029-.994-.067ZM10 12.727c-2.246 0-2.727-.481-2.727-2.727S7.754 7.273 10 7.273s2.727.481 2.727 2.727-.481 2.727-2.727 2.727Z" clip-rule="evenodd"/>
					<path fill="#334155" fill-rule="evenodd" d="M8.182.076c.46 0 .833.373.833.833v1.832a33.997 33.997 0 0 1 1.97 0V.909a.833.833 0 1 1 1.666 0v1.818a.839.839 0 0 1-.009.126c2.985.351 4.154 1.52 4.505 4.505a.84.84 0 0 1 .126-.01h1.818a.833.833 0 0 1 0 1.667h-1.832a33.998 33.998 0 0 1 0 1.97h1.832a.833.833 0 0 1 0 1.667h-1.818a.853.853 0 0 1-.126-.01c-.351 2.985-1.52 4.154-4.505 4.505.006.041.01.083.01.126v1.818a.833.833 0 0 1-1.667 0v-1.832a34.353 34.353 0 0 1-1.97 0v1.832a.833.833 0 0 1-1.667 0v-1.818c0-.043.004-.085.01-.126-2.985-.35-4.154-1.52-4.505-4.505a.852.852 0 0 1-.126.01H.91a.833.833 0 0 1 0-1.667h1.818a.59.59 0 0 1 .013 0 34.001 34.001 0 0 1 0-1.97H.91a.833.833 0 0 1 0-1.666h1.818a.84.84 0 0 1 .126.009c.35-2.985 1.52-4.154 4.505-4.505a.84.84 0 0 1-.01-.126V.91c0-.46.373-.833.834-.833ZM4.648 13.302c-.174-.784-.254-1.843-.254-3.302 0-1.46.08-2.518.254-3.301.17-.765.406-1.16.648-1.403.242-.241.638-.478 1.402-.648.784-.174 1.843-.254 3.302-.254 1.46 0 2.518.08 3.301.254.765.17 1.16.407 1.403.648.241.242.478.638.647 1.403.175.783.255 1.842.255 3.301 0 1.46-.08 2.518-.255 3.302-.17.764-.406 1.16-.647 1.402-.242.242-.638.478-1.403.648-.783.174-1.842.254-3.301.254-1.46 0-2.518-.08-3.302-.254-.764-.17-1.16-.406-1.402-.648s-.478-.638-.648-1.402Z" clip-rule="evenodd"/>
				</svg>

				<p class="text-sm font-normal text-slate-700">درخواست قطعه</p>
				<a href="#" class="absolute w-full h-full left-0 top-0"></a>
			</div>

			<div class="shadow-md relative px-5 py-7 justify-center items-center flex flex-col gap-2 bg-white rounded-ro2.5">
				<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" viewbox="0 0 20 20">
					<path fill="#334155" fill-rule="evenodd" d="M2.031 14.675c-.254-1.144-.364-2.654-.364-4.675 0-2.02.11-3.53.364-4.675.25-1.125.617-1.792 1.06-2.235.442-.442 1.108-.808 2.234-1.059 1.144-.254 2.654-.364 4.675-.364 2.02 0 3.53.11 4.675.364 1.125.25 1.792.617 2.235 1.06.442.442.808 1.109 1.058 2.234.255 1.144.365 2.654.365 4.675 0 2.02-.11 3.53-.364 4.675-.25 1.125-.617 1.792-1.06 2.235-.442.442-1.109.808-2.234 1.059-1.144.254-2.654.364-4.675.364-2.02 0-3.53-.11-4.675-.364-1.126-.25-1.792-.617-2.235-1.06-.442-.442-.809-1.109-1.059-2.234ZM10 20C1.765 20 0 18.235 0 10S1.765 0 10 0s10 1.765 10 10-1.765 10-10 10Z" clip-rule="evenodd"/>
					<path fill="#334155" fill-rule="evenodd" d="M6.667 11.667a1.667 1.667 0 1 1 0-3.334 1.667 1.667 0 0 1 0 3.334Zm0 1.666a3.333 3.333 0 1 1 0-6.666 3.333 3.333 0 0 1 0 6.666Zm4.999-5c0-.46.374-.833.834-.833h3.333a.833.833 0 0 1 0 1.667H12.5a.833.833 0 0 1-.834-.834Zm0 3.334c0-.46.374-.834.834-.834h3.333a.833.833 0 0 1 0 1.667H12.5a.833.833 0 0 1-.834-.833Z" clip-rule="evenodd"/>
				</svg>

				<p class="text-sm font-normal text-slate-700">سفارش کارت گارانتی</p>
				<a href="#" class="absolute w-full h-full left-0 top-0"></a>
			</div>
			<div class="shadow-md relative px-5 py-7 justify-center items-center flex flex-col gap-2 bg-white rounded-ro2.5">
				<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" viewbox="0 0 20 20">
					<path fill="#334155" fill-rule="evenodd" d="M2.031 14.675c-.254-1.144-.364-2.654-.364-4.675 0-2.02.11-3.53.364-4.675.25-1.125.617-1.792 1.06-2.235.442-.442 1.108-.808 2.234-1.059 1.144-.254 2.654-.364 4.675-.364 2.02 0 3.53.11 4.675.364 1.125.25 1.792.617 2.235 1.06.442.442.808 1.109 1.058 2.234.255 1.144.365 2.654.365 4.675 0 2.02-.11 3.53-.364 4.675-.25 1.125-.617 1.792-1.06 2.235-.442.442-1.109.808-2.234 1.059-1.144.254-2.654.364-4.675.364-2.02 0-3.53-.11-4.675-.364-1.126-.25-1.792-.617-2.235-1.06-.442-.442-.809-1.109-1.059-2.234ZM10 20C1.765 20 0 18.235 0 10S1.765 0 10 0s10 1.765 10 10-1.765 10-10 10Z" clip-rule="evenodd"/>
					<path fill="#334155" fill-rule="evenodd" d="M6.667 4.167c.46 0 .833.373.833.833v5.833a.833.833 0 1 1-1.667 0V5c0-.46.373-.833.834-.833Zm6.666 4.166c.46 0 .833.373.833.834V15a.833.833 0 0 1-1.666 0V9.167c0-.46.373-.834.833-.834Z" clip-rule="evenodd"/>
					<path fill="#334155" fill-rule="evenodd" d="M5.833 13.333a.833.833 0 1 0 1.667 0 .833.833 0 0 0-1.667 0Zm-1.666 0a2.5 2.5 0 1 0 5 0 2.5 2.5 0 0 0-5 0ZM12.5 6.667a.833.833 0 1 0 1.667 0 .833.833 0 0 0-1.667 0Zm-1.667 0a2.5 2.5 0 1 0 5 0 2.5 2.5 0 0 0-5 0Z" clip-rule="evenodd"/>
				</svg>

				<p class="text-sm font-normal text-slate-700">درخواست تعمیر</p>
				<a href="#" class="absolute w-full h-full left-0 top-0"></a>
			</div>
		</div>
		<div class="flex items-center justify-center flex-col">
			<div class="w-full mt-20">
				<div class="flex justify-between">
					<p class="text-xl font-bold text-slate-700">محصولات آریاکیش</p>
					<div class="gap-2 hidden md:flex">
						<button>
							<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="none" viewbox="0 0 32 32">
								<path stroke="#9CA3AF" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M31 16c0-3.271-.177-5.832-.623-7.842-.444-1.998-1.142-3.391-2.143-4.392-1-1-2.394-1.698-4.392-2.143C21.832 1.177 19.272 1 16 1c-3.271 0-5.832.177-7.842.623-1.998.445-3.391 1.142-4.392 2.143-1 1-1.698 2.394-2.143 4.392C1.177 10.168 1 12.728 1 16c0 3.271.177 5.832.623 7.842.445 1.998 1.142 3.391 2.143 4.392 1 1 2.394 1.698 4.392 2.143 2.01.446 4.57.623 7.842.623 3.271 0 5.832-.177 7.842-.623 1.998-.444 3.391-1.142 4.392-2.143 1-1 1.698-2.394 2.143-4.392.446-2.01.623-4.57.623-7.842Z"/>
								<path stroke="#9CA3AF" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.333 10.667 18.667 16l-5.334 5.333"/>
							</svg>
						</button>
						<button>
							<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="none" viewbox="0 0 32 32">
								<path stroke="#9CA3AF" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 16c0 3.271.177 5.832.623 7.842.445 1.998 1.142 3.391 2.143 4.392 1 1 2.394 1.698 4.392 2.143 2.01.446 4.57.623 7.842.623 3.271 0 5.832-.177 7.842-.623 1.998-.444 3.391-1.142 4.392-2.143 1-1 1.698-2.394 2.143-4.392.446-2.01.623-4.57.623-7.842 0-3.271-.177-5.832-.623-7.842-.444-1.998-1.142-3.391-2.143-4.392-1-1-2.394-1.698-4.392-2.143C21.832 1.177 19.272 1 16 1c-3.271 0-5.832.177-7.842.623-1.998.445-3.391 1.142-4.392 2.143-1 1-1.698 2.394-2.143 4.392C1.177 10.168 1 12.728 1 16Z"/>
								<path stroke="#9CA3AF" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18.667 21.333 13.333 16l5.334-5.333"/>
							</svg>
						</button>
					</div>
				</div>
			</div>

			<div class="flex justify-center gap-8 mt-8">
				<div class="shadow-bxShadow w-[264px] py-4 bg-white rounded-3xl flex flex-col items-center gap-7">
					<div class="flex flex-col gap-4 mt-8">
						<img src="./img/p4.svg"/>
						<p class="text-[14px] font-normal text-slate-700">
							ماشین اصلاح مدل Philips
						</p>
						<div class="flex items-center gap-8">
							<p class="text-txt14 font-bold">آرایشی بهداشتی</p>
							<button class="w-[70px] h-9 relative text-white rounded-xl bg-sky-600 shadow-shadowBtn">
								مشاهده
								<a href="page3.html" class="absolute w-full h-full left-0 top-0"></a>
							</button>
						</div>
					</div>
				</div>
				<div class="shadow-bxShadow w-[264px] py-4 bg-white rounded-3xl flex flex-col items-center gap-7">
					<div class="flex flex-col gap-4 mt-8">
						<img src="./img/p2.svg"/>
						<p class="text-txt14 font-normal text-slate-700">
							ماشین اصلاح مدل Philips
						</p>
						<div class="flex items-center gap-[2rem]">
							<p class="text-txt14 font-bold">آرایشی بهداشتی</p>
							<button class="w-[70px] h-[36px] relative text-white rounded-xl bg-sky-600 shadow-shadowBtn">
								مشاهده
								<a href="page3.html" class="absolute w-full h-full left-0 top-0"></a>
							</button>
						</div>
					</div>
				</div>
				<div class="shadow-bxShadow w-[264px] py-4 bg-white rounded-3xl flex flex-col items-center gap-7">
					<div class="flex flex-col gap-4 mt-8">
						<img src="./img/p3.svg"/>
						<p class="text-sm font-normal text-slate-700">
							ماشین اصلاح مدل Philips
						</p>
						<div class="flex items-center gap-8">
							<p class="text-txt14 font-bold">آرایشی بهداشتی</p>
							<button class="w-[70px] h-9 relative text-white rounded-xl bg-sky-600 shadow-shadowBtn">
								مشاهده
								<a href="page3.html" class="absolute w-full h-full left-0 top-0"></a>
							</button>
						</div>
					</div>
				</div>
				<div class="shadow-bxShadow w-[264px] py-4 bg-white rounded-3xl flex flex-col items-center gap-7">
					<div class="flex flex-col gap-4 mt-8">
						<img src="./img/p1.svg"/>
						<p class="text-txt14 font-normal text-slate-700">
							ماشین اصلاح مدل Philips
						</p>
						<div class="flex items-center gap-8">
							<p class="text-txt14 font-bold">آرایشی بهداشتی</p>
							<button class="w-[70px] relative h-[36px] text-white rounded-xl bg-sky-600 shadow-shadowBtn">
								مشاهده
								<a href="page3.html" class="absolute w-full h-full left-0 top-0"></a>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="flex flex-col lg:flex-row gap-16 lg:gap-0 lg:justify-around mt-28">
			<div class="flex flex-col gap-4">
				<div class="w-[77px] flex h-[77px] rounded-[32px] bg-white items-center justify-center">
					<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="none" viewbox="0 0 32 32">
						<path fill="#0284C7" fill-rule="evenodd" d="M23.68 2.52C21.754 2.149 19.259 2 16 2c-3.254 0-5.746.157-7.671.537-1.914.378-3.124.95-3.941 1.677C2.77 5.65 2 8.32 2 14.222c0 3.755.35 6.447 1.206 8.16.402.804.89 1.336 1.474 1.684.592.352 1.427.6 2.654.6 1.812 0 3.232.41 4.367 1.178 1.098.745 1.75 1.713 2.196 2.416l.19.3c.376.596.56.887.817 1.118.164.147.414.322 1.096.322.683 0 .933-.175 1.096-.322.257-.23.442-.522.818-1.118l.19-.3c.446-.702 1.097-1.671 2.196-2.416 1.135-.769 2.555-1.177 4.367-1.177 1.237 0 2.077-.244 2.67-.59.58-.338 1.063-.855 1.46-1.644.852-1.689 1.203-4.374 1.203-8.21 0-5.98-.774-8.639-2.381-10.056-.814-.717-2.02-1.279-3.938-1.647ZM32 14.222C32 2.37 29.176 0 16 0S0 2.51 0 14.222c0 7.552 1.334 12.445 7.334 12.445 3.206 0 4.16 1.523 5.048 2.941C13.156 30.844 13.88 32 16 32s2.845-1.156 3.619-2.392c.888-1.418 1.842-2.941 5.048-2.941 6 0 7.333-4.741 7.333-12.445Z" clip-rule="evenodd"/>
						<path fill="#0284C7" fill-rule="evenodd" d="M16.333 12a1 1 0 0 1 1-1h5.334a1 1 0 1 1 0 2h-5.334a1 1 0 0 1-1-1Zm-8 5.333a1 1 0 0 1 1-1h13.334a1 1 0 1 1 0 2H9.333a1 1 0 0 1-1-1Z" clip-rule="evenodd"/>
					</svg>
				</div>
				<div class="flex text-xl font-bold text-sky-600">
					<p>وبلاگ آریاکیش</p>
					<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" viewbox="0 0 20 20">
						<path fill="#0284C7" fill-rule="evenodd" d="M6.667 10c0-.221.087-.433.244-.59l5-5a.833.833 0 0 1 1.178 1.18L8.68 10l4.41 4.41a.833.833 0 0 1-1.178 1.18l-5-5a.833.833 0 0 1-.244-.59Z" clip-rule="evenodd"/>
					</svg>
				</div>
				<p class="w-full lg:w-80 text-sm font-normal text-gray-400">
					لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ.
				</p>
			</div>
			<div class="flex items-center gap-8">
				<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="none" viewbox="0 0 32 32" class="hidden lg:flex">
					<path stroke="#9CA3AF" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M31 16c0-3.271-.177-5.832-.623-7.842-.444-1.998-1.142-3.391-2.143-4.392-1-1-2.394-1.698-4.392-2.143C21.832 1.177 19.272 1 16 1c-3.271 0-5.832.177-7.842.623-1.998.445-3.391 1.142-4.392 2.143-1 1-1.698 2.394-2.143 4.392C1.177 10.168 1 12.728 1 16c0 3.271.177 5.832.623 7.842.445 1.998 1.142 3.391 2.143 4.392 1 1 2.394 1.698 4.392 2.143 2.01.446 4.57.623 7.842.623 3.271 0 5.832-.177 7.842-.623 1.998-.444 3.391-1.142 4.392-2.143 1-1 1.698-2.394 2.143-4.392.446-2.01.623-4.57.623-7.842Z"/>
					<path stroke="#9CA3AF" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.333 10.667 18.667 16l-5.334 5.333"/>
				</svg>

				<div class="flex items-center relative gap-5 justify-center">
					<div class="shadow-bxShadow bg-white rounded-3xl max-md:py-1 max-md:opacity-75 px-4 py-4 flex flex-col gap-4">
						<div class="flex items-center justify-between">
							<div class="flex items-center gap-4">
								<img src="./img/bgcart.svg"/>

								<div class=" flex flex-col gap-3">
									<p class="text-sm font-bold text-slate-700">
										بهترین های بازار
									</p>
									<div class="font-normal text-sm">
										<p class="text-gray-400">1402/05/21</p>
									</div>
								</div>
							</div>
							<button class="relative">
								<img src="./img/SBtn.svg"/>
								<a href="page3.html" class="absolute w-full h-full left-0 top-0"></a>
							</button>
						</div>

						<div class="flex items-center justify-center">
							<div class="w-full h-px bg-gray-200"></div>
						</div>
						<div class="flex items-center justify-center">
							<p class="text-xs font-normal leading-6 text-slate-700">
								لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و
																																																																																																																																																																																																																																																																																																																																																																																																																                    با استفاده از...
							</p>
						</div>
					</div>
					<div class="shadow-bxShadow bg-white rounded-3xl z-20 absolute max-w-[90%] px-4 py-10 flex flex-col gap-4">
						<div class="flex items-center justify-between">
							<div class="flex items-center gap-4">
								<img src="./img/bgcart.svg"/>

								<div class=" flex flex-col gap-3">
									<p class="text-sm font-bold text-slate-700">
										بهترین های بازار
									</p>
									<div class="font-normal text-sm">
										<p class="text-gray-400">1402/05/21</p>
									</div>
								</div>
							</div>
							<button class="relative">
								<a href="page3.html" class="absolute w-full h-full left-0 top-0"></a>
								<img src="./img/SBtn.svg"/>
							</button>
						</div>

						<div class="flex items-center justify-center">
							<div class="w-full h-px bg-gray-200"></div>
						</div>
						<div class="flex items-center justify-center">
							<p class="text-xs font-normal leading-6 text-slate-700">
								لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و
																																																																																																																																																																																																																																																																																																																																																																																							                    با استفاده از...
							</p>
						</div>
					</div>
					<div class="shadow-bxShadow bg-white rounded-3xl z-10 max-md:opacity-75 px-4 max-md:py-1 py-4 flex flex-col gap-4">
						<div class="flex items-center justify-between">
							<div class="flex items-center gap-4">
								<img src="./img/bgcart.svg"/>

								<div class=" flex flex-col gap-3 max-md:hidden">
									<p class="text-sm font-bold text-slate-700">
										بهترین های بازار
									</p>
									<div class="font-normal text-sm">
										<p class="text-gray-400">1402/05/21</p>
									</div>
								</div>
							</div>
							<button class="relative">
								<a href="page3.html" class="absolute w-full h-full left-0 top-0"></a>
								<img src="./img/SBtn.svg"/>
							</button>
						</div>

						<div class="flex items-center justify-center">
							<div class="w-full h-px bg-gray-200"></div>
						</div>
						<div class="flex items-center justify-center">
							<p class="text-xs font-normal leading-6 text-slate-700">
								لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و
																																																																																																																																																																																																																																																																																																																																																													                    با استفاده از...
							</p>
						</div>
					</div>
				</div>

				<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="none" viewbox="0 0 32 32" class="hidden lg:flex">
					<path stroke="#9CA3AF" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 16c0 3.271.177 5.832.623 7.842.445 1.998 1.142 3.391 2.143 4.392 1 1 2.394 1.698 4.392 2.143 2.01.446 4.57.623 7.842.623 3.271 0 5.832-.177 7.842-.623 1.998-.444 3.391-1.142 4.392-2.143 1-1 1.698-2.394 2.143-4.392.446-2.01.623-4.57.623-7.842 0-3.271-.177-5.832-.623-7.842-.444-1.998-1.142-3.391-2.143-4.392-1-1-2.394-1.698-4.392-2.143C21.832 1.177 19.272 1 16 1c-3.271 0-5.832.177-7.842.623-1.998.445-3.391 1.142-4.392 2.143-1 1-1.698 2.394-2.143 4.392C1.177 10.168 1 12.728 1 16Z"/>
					<path stroke="#9CA3AF" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18.667 21.333 13.333 16l5.334-5.333"/>
				</svg>
			</div>
		</div>
	</div>
	<div class="w-full pb-5 mt-20 lg:bg-no-repeat lg:bg-bgImg lg:bg-cover items-center bg-none lg:flex lg:justify-center lg:pt-14 gap-8">
		<div class="w-full pb-3 flex-col gap-5 lg:mr-16 flex lg:hidden">
			<div class="flex items-center justify-between">
				<h2 class="text-xl font-bold">آخرین مطالب</h2>
				<button class="flex border-gray-300 relative items-center w-[119px] h-9 border rounded-xl gap-2 pr-2">
					<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="none" viewbox="0 0 14 14">
						<path fill="#334155" fill-rule="evenodd" d="M2.336 11.164c-.71-.684-1.167-1.94-1.167-4.456 0-2.517.458-3.773 1.167-4.456.719-.694 1.986-1.083 4.372-1.083 2.385 0 3.653.389 4.372 1.083.709.683 1.167 1.94 1.167 4.456 0 2.516-.458 3.772-1.167 4.456-.72.694-1.987 1.083-4.372 1.083-2.386 0-3.653-.39-4.372-1.083Zm4.372 2.252C1.829 13.416 0 11.89 0 6.708 0 1.524 1.83 0 6.708 0s6.708 1.524 6.708 6.708c0 5.183-1.83 6.708-6.708 6.708Z" clip-rule="evenodd"/>
						<path fill="#334155" fill-rule="evenodd" d="M11.478 11.478a.584.584 0 0 1 .826 0l1.525 1.524a.584.584 0 1 1-.827.827l-1.524-1.525a.584.584 0 0 1 0-.826Z" clip-rule="evenodd"/>
					</svg>

					<p class="text-sm font-normal">مشاهده همه</p>
					<a href="page6.html" class="absolute w-full h-full left-0 top-0"></a>
				</button>
			</div>

			<p class="text-sm font-normal text-gray-400">
				لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ.
			</p>
		</div>
		<div class="lg:flex-row lg:gap-1 flex flex-col items-center justify-center">
			<img src="./img/Video.svg"/>
			<div class="flex flex-col justify-center items-center max-lg:hidden">
				<div class="relative">
					<img src="./img/pic1.svg"/>
					<a href="page6.html" class="absolute w-full h-full left-0 top-0"></a>
				</div>

				<div class="relative">
					<img src="./img/pic2.svg"/>
					<a href="page6.html" class="absolute w-full h-full left-0 top-0"></a>
				</div>

			</div>
			<div class="hidden max-lg:flex">
				<div class="relative">
					<img src="./img/lastCon1.svg"/>
					<a href="page6.html" class="absolute w-full h-full left-0 top-0"></a>
				</div>
				<div class="relative">
					<img src="./img/lastCon2.svg" class="-mt-3"/>
					<a href="page6.html" class="absolute w-full h-full left-0 top-0"></a>
				</div>

			</div>
		</div>
		<div class="flex-col gap-5 mr-16 hidden lg:flex">
			<h2 class="text-[20px] font-bold">آخرین مطالب</h2>
			<p class="text-sm font-normal w-[293px] text-gray-400">
				لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ.
			</p>
			<button class="flex relative border-gray-300 items-center w-[119px] h-9 border rounded-xl gap-2 pr-2">
				<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="none" viewbox="0 0 14 14">
					<path fill="#334155" fill-rule="evenodd" d="M2.336 11.164c-.71-.684-1.167-1.94-1.167-4.456 0-2.517.458-3.773 1.167-4.456.719-.694 1.986-1.083 4.372-1.083 2.385 0 3.653.389 4.372 1.083.709.683 1.167 1.94 1.167 4.456 0 2.516-.458 3.772-1.167 4.456-.72.694-1.987 1.083-4.372 1.083-2.386 0-3.653-.39-4.372-1.083Zm4.372 2.252C1.829 13.416 0 11.89 0 6.708 0 1.524 1.83 0 6.708 0s6.708 1.524 6.708 6.708c0 5.183-1.83 6.708-6.708 6.708Z" clip-rule="evenodd"/>
					<path fill="#334155" fill-rule="evenodd" d="M11.478 11.478a.584.584 0 0 1 .826 0l1.525 1.524a.584.584 0 1 1-.827.827l-1.524-1.525a.584.584 0 0 1 0-.826Z" clip-rule="evenodd"/>
				</svg>

				<p class="text-sm font-normal">مشاهده همه</p>
				<a href="page6.html" class="absolute w-full h-full left-0 top-0"></a>
			</button>
		</div>
	</div>
	<div class="container mx-auto">
		<div class="w-full mt-20 text-slate-700">
			<div class="flex justify-between">
				<p class="text-xl font-bold">نظر کاربران آریاکیش</p>
				<div class="hidden lg:flex gap-2">
					<button>
						<svg xmlns="http://www.w3.org/2000/svg" width="32" height="33" fill="none" viewbox="0 0 32 33">
							<path stroke="#9CA3AF" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M31 16.922c0-3.27-.177-5.831-.623-7.841-.444-1.999-1.142-3.392-2.143-4.393-1-1-2.394-1.698-4.392-2.142-2.01-.447-4.57-.624-7.842-.624-3.271 0-5.832.177-7.842.624-1.998.444-3.391 1.142-4.392 2.142-1 1.001-1.698 2.394-2.143 4.393C1.177 11.09 1 13.65 1 16.922s.177 5.832.623 7.842c.445 1.999 1.142 3.392 2.143 4.392 1 1.001 2.394 1.699 4.392 2.143 2.01.447 4.57.623 7.842.623 3.271 0 5.832-.176 7.842-.623 1.998-.444 3.391-1.142 4.392-2.143 1-1 1.698-2.393 2.143-4.392.446-2.01.623-4.57.623-7.842Z"/>
							<path stroke="#9CA3AF" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m13.333 11.59 5.334 5.332-5.334 5.334"/>
						</svg>
					</button>
					<button>
						<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="none" viewbox="0 0 32 32">
							<path stroke="#9CA3AF" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 16c0 3.271.177 5.832.623 7.842.445 1.998 1.142 3.391 2.143 4.392 1 1 2.394 1.698 4.392 2.143 2.01.446 4.57.623 7.842.623 3.271 0 5.832-.177 7.842-.623 1.998-.444 3.391-1.142 4.392-2.143 1-1 1.698-2.394 2.143-4.392.446-2.01.623-4.57.623-7.842 0-3.271-.177-5.832-.623-7.842-.444-1.998-1.142-3.391-2.143-4.392-1-1-2.394-1.698-4.392-2.143C21.832 1.177 19.272 1 16 1c-3.271 0-5.832.177-7.842.623-1.998.445-3.391 1.142-4.392 2.143-1 1-1.698 2.394-2.143 4.392C1.177 10.168 1 12.728 1 16Z"/>
							<path stroke="#9CA3AF" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18.667 21.333 13.333 16l5.334-5.333"/>
						</svg>
					</button>
				</div>
			</div>
		</div>
		<div class="flex flex-col lg:flex-row gap-8 mt-8 w-full items-center justify-center">
			<div class="shadow-bxShadow w-[360px] h-[237px] bg-white rounded-3xl pr-5 pl-5 pt-5">
				<div class="flex items-center gap-3">
					<img src="./img/user1.svg"/>
					<div class="flex flex-col gap-1">
						<p class="text-sm font-bold">احسان جمشیدی</p>
						<div class="text-sm font-normal text-gray-400">
							<p class="num">1402/02/23</p>
						</div>
					</div>
					<div class="flex flex-row-reverse gap-3 mr-20">
						<svg xmlns="http://www.w3.org/2000/svg" width="19" height="20" fill="none" viewbox="0 0 19 20">
							<g clip-path="url(#a)">
								<path fill="#10B981" d="M18.029 7.035a3.954 3.954 0 0 0-2.987-1.362h-3.158l.266-1.616a2.404 2.404 0 0 0-4.53-1.454l-1.515 3.07H3.958A3.963 3.963 0 0 0 0 9.63v3.958a3.963 3.963 0 0 0 3.958 3.959h10.53a3.978 3.978 0 0 0 3.919-3.404l.558-3.959a3.958 3.958 0 0 0-.936-3.15ZM1.583 13.59V9.631a2.375 2.375 0 0 1 2.375-2.375h1.584v8.708H3.958a2.375 2.375 0 0 1-2.375-2.375Zm15.81-3.626-.558 3.958a2.384 2.384 0 0 1-2.348 2.043H7.126v-8.92a.792.792 0 0 0 .182-.23L9.04 3.302a.847.847 0 0 1 1.363-.164.81.81 0 0 1 .185.665l-.418 2.534a.793.793 0 0 0 .781.918h4.09a2.375 2.375 0 0 1 2.353 2.707Z"/>
							</g>
							<defs>
								<clipPath id="a">
									<path fill="#fff" d="M0 .922h19v19H0z"/>
								</clipPath>
							</defs>
						</svg>

						<svg xmlns="http://www.w3.org/2000/svg" width="19" height="20" fill="none" viewbox="0 0 19 20">
							<g clip-path="url(#a)">
								<path fill="#D1D5DB" d="m18.961 10.66-.558-3.958a3.977 3.977 0 0 0-3.915-3.405H3.958A3.963 3.963 0 0 0 0 7.256v3.958a3.963 3.963 0 0 0 3.958 3.958h2.147l1.516 3.07a2.404 2.404 0 0 0 4.529-1.454l-.266-1.616h3.158a3.959 3.959 0 0 0 3.92-4.512ZM3.958 4.88h1.584v8.709H3.958a2.375 2.375 0 0 1-2.375-2.375V7.256A2.375 2.375 0 0 1 3.958 4.88Zm12.876 7.892a2.374 2.374 0 0 1-1.792.817h-4.09a.792.792 0 0 0-.782.92l.418 2.533a.81.81 0 0 1-.185.665.847.847 0 0 1-1.363-.168l-1.733-3.508a.791.791 0 0 0-.182-.231V4.88h7.363a2.384 2.384 0 0 1 2.35 2.044l.56 3.958a2.375 2.375 0 0 1-.564 1.89Z"/>
							</g>
							<defs>
								<clipPath id="a">
									<path fill="#fff" d="M0 .922h19v19H0z"/>
								</clipPath>
							</defs>
						</svg>
					</div>
				</div>
				<div class="w-[312px] h-0.5 mt-3 bg-gray-200"></div>
				<div>
					<p class="text-sm w-[312px] h-[104px] mt-3 font-normal text-slate-700">
						لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
																																																																																																																																																																																																																																																													                استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله
																																																																																																																																																																																																																																																													                در ستون و سطرآنچنان که لازم است.
					</p>
				</div>
			</div>
			<div class="shadow-bxShadow w-[360px] h-[263px] bg-white rounded-3xl pr-5 pl-5 pt-5">
				<div class="flex items-center gap-3">
					<img src="./img/user2.svg"/>
					<div class="flex flex-col gap-1">
						<p class="text-sm font-bold">مهشید امیری</p>
						<div class="text-sm font-normal text-gray-400">
							<p class="num">1402/02/23</p>
						</div>
					</div>
					<div class="flex flex-row-reverse gap-3 mr-[6rem]">
						<svg xmlns="http://www.w3.org/2000/svg" width="19" height="20" fill="none" viewbox="0 0 19 20">
							<g clip-path="url(#a)">
								<path fill="#10B981" d="M18.029 7.035a3.954 3.954 0 0 0-2.987-1.362h-3.158l.266-1.616a2.404 2.404 0 0 0-4.53-1.454l-1.515 3.07H3.958A3.963 3.963 0 0 0 0 9.63v3.958a3.963 3.963 0 0 0 3.958 3.959h10.53a3.978 3.978 0 0 0 3.919-3.404l.558-3.959a3.958 3.958 0 0 0-.936-3.15ZM1.583 13.59V9.631a2.375 2.375 0 0 1 2.375-2.375h1.584v8.708H3.958a2.375 2.375 0 0 1-2.375-2.375Zm15.81-3.626-.558 3.958a2.384 2.384 0 0 1-2.348 2.043H7.126v-8.92a.792.792 0 0 0 .182-.23L9.04 3.302a.847.847 0 0 1 1.363-.164.81.81 0 0 1 .185.665l-.418 2.534a.793.793 0 0 0 .781.918h4.09a2.375 2.375 0 0 1 2.353 2.707Z"/>
							</g>
							<defs>
								<clipPath id="a">
									<path fill="#fff" d="M0 .922h19v19H0z"/>
								</clipPath>
							</defs>
						</svg>

						<svg xmlns="http://www.w3.org/2000/svg" width="19" height="20" fill="none" viewbox="0 0 19 20">
							<g clip-path="url(#a)">
								<path fill="#D1D5DB" d="m18.961 10.66-.558-3.958a3.977 3.977 0 0 0-3.915-3.405H3.958A3.963 3.963 0 0 0 0 7.256v3.958a3.963 3.963 0 0 0 3.958 3.958h2.147l1.516 3.07a2.404 2.404 0 0 0 4.529-1.454l-.266-1.616h3.158a3.959 3.959 0 0 0 3.92-4.512ZM3.958 4.88h1.584v8.709H3.958a2.375 2.375 0 0 1-2.375-2.375V7.256A2.375 2.375 0 0 1 3.958 4.88Zm12.876 7.892a2.374 2.374 0 0 1-1.792.817h-4.09a.792.792 0 0 0-.782.92l.418 2.533a.81.81 0 0 1-.185.665.847.847 0 0 1-1.363-.168l-1.733-3.508a.791.791 0 0 0-.182-.231V4.88h7.363a2.384 2.384 0 0 1 2.35 2.044l.56 3.958a2.375 2.375 0 0 1-.564 1.89Z"/>
							</g>
							<defs>
								<clipPath id="a">
									<path fill="#fff" d="M0 .922h19v19H0z"/>
								</clipPath>
							</defs>
						</svg>
					</div>
				</div>
				<div class="w-[312px] h-0.5 mt-3 bg-gray-200"></div>
				<div>
					<p class="text-txt14 w-[312px] h-[104px] mt-3 font-normal text-slate-700">
						لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
																																																																																																																																																																																																																																																													                استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله
																																																																																																																																																																																																																																																													                در ستون و سطرآنچنان که لازم است.لورم ایپسوم متن ساختگی با تولید
																																																																																																																																																																																																																																																													                سادگی نامفهوم از صنعت چاپ.
					</p>
				</div>
			</div>
			<div class="shadow-bxShadow w-[360px] h-[185px] bg-white rounded-3xl pr-5 pl-5 pt-5">
				<div class="flex items-center gap-3">
					<img src="./img/user3.svg"/>
					<div class="flex flex-col gap-1">
						<p class="text-[14px] font-bold">نگین معتمدی</p>
						<div class="text-txt14 font-normal text-gray-400">
							<p class="num">1402/02/23</p>
						</div>
					</div>
					<div class="flex flex-row-reverse gap-3 mr-24">
						<svg xmlns="http://www.w3.org/2000/svg" width="19" height="20" fill="none" viewbox="0 0 19 20">
							<g clip-path="url(#a)">
								<path fill="#D1D5DB" d="M18.029 7.035a3.954 3.954 0 0 0-2.987-1.362h-3.158l.266-1.616a2.404 2.404 0 0 0-4.53-1.454l-1.515 3.07H3.958A3.963 3.963 0 0 0 0 9.63v3.958a3.963 3.963 0 0 0 3.958 3.959h10.53a3.978 3.978 0 0 0 3.919-3.404l.558-3.959a3.958 3.958 0 0 0-.936-3.15ZM1.583 13.59V9.631a2.375 2.375 0 0 1 2.375-2.375h1.584v8.708H3.958a2.375 2.375 0 0 1-2.375-2.375Zm15.81-3.626-.558 3.958a2.384 2.384 0 0 1-2.348 2.043H7.126v-8.92a.792.792 0 0 0 .182-.23L9.04 3.302a.847.847 0 0 1 1.363-.164.81.81 0 0 1 .185.665l-.418 2.534a.793.793 0 0 0 .781.918h4.09a2.375 2.375 0 0 1 2.353 2.707Z"/>
							</g>
							<defs>
								<clipPath id="a">
									<path fill="#fff" d="M0 .922h19v19H0z"/>
								</clipPath>
							</defs>
						</svg>

						<svg xmlns="http://www.w3.org/2000/svg" width="19" height="20" fill="none" viewbox="0 0 19 20">
							<g clip-path="url(#a)">
								<path fill="#EF4444" d="m18.961 10.66-.558-3.958a3.977 3.977 0 0 0-3.915-3.405H3.958A3.963 3.963 0 0 0 0 7.256v3.958a3.963 3.963 0 0 0 3.958 3.958h2.147l1.516 3.07a2.404 2.404 0 0 0 4.529-1.454l-.266-1.616h3.158a3.959 3.959 0 0 0 3.92-4.512ZM3.958 4.88h1.584v8.709H3.958a2.375 2.375 0 0 1-2.375-2.375V7.256A2.375 2.375 0 0 1 3.958 4.88Zm12.876 7.892a2.374 2.374 0 0 1-1.792.817h-4.09a.792.792 0 0 0-.782.92l.418 2.533a.81.81 0 0 1-.185.665.847.847 0 0 1-1.363-.168l-1.733-3.508a.791.791 0 0 0-.182-.231V4.88h7.363a2.384 2.384 0 0 1 2.35 2.044l.56 3.958a2.375 2.375 0 0 1-.564 1.89Z"/>
							</g>
							<defs>
								<clipPath id="a">
									<path fill="#fff" d="M0 .922h19v19H0z"/>
								</clipPath>
							</defs>
						</svg>
					</div>
				</div>
				<div class="w-[312px] h-0.5 mt-3 bg-gray-200"></div>
				<div>
					<p class="text-[14px] w-[312px] h-[104px] mt-3 font-normal text-slate-700">
						لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
																																																																																																																																																																																																																																																													                استفاده از طراحان گرافیک است.
					</p>
				</div>
			</div>
			<div class="block md:hidden">
				<button class="text-gray-400">
					<a>مشاهده همه نظرات</a>
				</button>
			</div>
		</div>
	</div>
{% endblock %}
