{% extends 'main/base.html.twig' %}

{% block title %}
	همکاری با آریاکیش
{% endblock %}

{% block body %}
	<section class="mt-28 mb-36">
		<div class="container mx-auto">
			<div class="px-6 ">

				<div class="text-center  mb-28">
					<h3 class="text-gray-800  font-bold sm:text-56 text-3xl mt-1">
						بخشی از
						<span class="relative">فعالیت های
							<i class="absolute right-0 sm:bottom-5 bottom-3 z-negative bg-customOrange-700 bg-opacity-40 w-full sm:h-5 h-4 flex"></i>
						</span>
						آریاکیش
					</h3>
				</div>

				<div class=" space-y-40">

					<div class="flex items-center relative flex-col  md:flex-row ">
						<i class="absolute  md:-top-36 -top-12 transform   flex md:w-550 md:h-550 w-80 h-80 border rounded-full border-blue-800 border-opacity-20 z-negative  md:-right-1/3 -right-1/2"></i>
						<div class="relative md:mb-0 mb-10 md:ml-12 ml-0">
							<span class="md:w-56 md:h-64 w-48 h-52  absolute flex bg-blue-700 opacity-10 top-0 rounded-2xl transform rotate-12 -right-6"></span>
							<div class="md:w-56 md:h-64 w-48 h-52 relative rounded-2xl overflow-hidden">
								<img class="w-full h-full object-cover" src="/img/pic/corinne-kutz.png" alt="معرفی شرکت آریا کیش">
								<i class="flex w-full h-full bg-blue-700 bg-opacity-40 absolute top-0 right-0"></i>
							</div>
						</div>
						<div class="pt-1">
							<h4 class="flex items-center md:justify-start justify-center mb-2 ">
								<a class="sm:text-4xl text-2xl text-blue-700   font-bold  transition duration-200 hover:text-gray-700" href="#">
									معرفی شرکت آریا کیش
								</a>
							</h4>
							<div class="content-area sm:text-lg text-base  leading-8  md:text-right text-center text-gray-700 mb-7  ">
								شرکت آریاکیشِ مهرداد امروز نیز، همچون گذشته، در زمینۀ ارائۀ گارانتی، خدمات پس از فروش و تعمیرات لوازم خانگی و صنعتی، آمادۀ خدمت‌رسانی به هم‌میهنان عزیز در اقصی نقاط کشور می‌باشد. شرکت‌های خصوصی و مراکز غیر انتفاعی که در زمینۀ امور خیریه فعالیت می‌کنند، ازجمله خانه‌های سالمندان، پرورشگاه‌ها و  مراکز مربوط به حمایت از بیماری‌های خاص  از پنجاه درصد تخفیف آریاکیش در عرصۀ خدمات پس از فروش و تعمیرات لوازم و تجهیزات برقی مراکز خود بهره‌مند خواهند شد. 
																																																																								
																																																																								تیم متخصص، متعهد و مجرّب ما با بذل حداکثر توان خود، سعی می‌کند خانواده‌ها، مدیران بیمارستان‌ها و دست‌اندرکاران امور هتل‌ها را از هرگونه دغدغۀ خاطری‌ در‌خصوص خرابی دستگاه‌های خانگی و صنعتی خود رها سازد.
							</div>
						</div>
					</div>
					<div class="flex items-center relative flex-col  md:flex-row-reverse ">
						<i class="absolute  md:-top-36 -top-12 transform   flex md:w-550 md:h-550 w-80 h-80 border rounded-full border-blue-800 border-opacity-20 z-negative  md:-left-1/3 -left-1/2 "></i>
						<div class="relative md:mb-0 mb-10 md:mr-12 mr-0">
							<span class="md:w-56 md:h-64 w-48 h-52  absolute flex bg-blue-700 opacity-10 top-0 rounded-2xl transform -rotate-12 -left-6"></span>
							<div class="md:w-56 md:h-64 w-48 h-52 relative rounded-2xl overflow-hidden">
								<img class="w-full h-full object-cover" src="/img/pic/christopher-gower.png" alt="صدور کارت گارانتی">
								<i class="flex w-full h-full bg-blue-700 bg-opacity-40 absolute top-0 right-0"></i>
							</div>
						</div>
						<div class="pt-1">
							<h4 class="flex items-center md:justify-start justify-center mb-2 flex-row-reverse">
								<a class="sm:text-4xl text-2xl text-blue-700   font-bold  transition duration-200 hover:text-gray-700" href="#">
									صدور کارت گارانتی
								</a>
							</h4>
							<div class="content-area sm:text-lg text-base  leading-8  md:text-right text-center text-gray-700 mb-7  ">
								اما در مواردی که چاره‌ای جز«تعویض» قطعات نباشد، سرویسکاران آریاکیش بی‌تردید از قطعات اوریجینالِ متناسب با هر برند و محصول و از بهترین نوع قطعات یدکی استفاده خواهند کرد. در آریاکیش تعمیر هر برند به متخصص آن سپرده می‌شود.
																																								
																																								پس در صورت مشاهدۀ هرگونه خرابی در هر یک از دستگاه‌های منزل یا محیط کار خود، کافی‌ست  همین امروز با ما تماس بگیرید تا تعمیرکاران متعهد آریاکیش بی‌درنگ در محل حاضر شده، وسیلۀ مورد نظر را به بهترین نحو تعمیر کرده و سالم به شما تحویل دهند.																																								                                مطرح کنید و به پرسش و پاسخ برای حل مشکل یا درک مسئله&nbsp;مشغول شوید .&nbsp;</p>
						</div>
					</div>
				</div>
				<div class="flex items-center relative flex-col  md:flex-row ">
					<i class="absolute  md:-top-36 -top-12 transform   flex md:w-550 md:h-550 w-80 h-80 border rounded-full border-blue-800 border-opacity-20 z-negative  md:-right-1/3 -right-1/2"></i>
					<div class="relative md:mb-0 mb-10 md:ml-12 ml-0">
						<span class="md:w-56 md:h-64 w-48 h-52  absolute flex bg-blue-700 opacity-10 top-0 rounded-2xl transform rotate-12 -right-6"></span>
						<div class="md:w-56 md:h-64 w-48 h-52 relative rounded-2xl overflow-hidden">
							<img class="w-full h-full object-cover" src="/img/pic/markus-winkler.png" alt="تعمیرات و نصب لوازم خانگی">
							<i class="flex w-full h-full bg-blue-700 bg-opacity-40 absolute top-0 right-0"></i>
						</div>
					</div>
					<div class="pt-1">
						<h4 class="flex items-center md:justify-start justify-center mb-2 ">
							<a class="sm:text-4xl text-2xl text-blue-700   font-bold  transition duration-200 hover:text-gray-700" href="#">
								تعمیرات و نصب لوازم خانگی
							</a>
						</h4>
						<div class="content-area sm:text-lg text-base  leading-8  md:text-right text-center text-gray-700 mb-7  ">
							تعمیر دستگاه‌های برودتی مثل تعمیر کولرهای گازی و آبی، تعمیر اسپلیت و پنکه.
																												
																												تعمیر ماشین‌های لباس‌شویی و ظرف‌شویی خانگی، تعمیر ماشین‌های لباس‌شویی و ظرف‌شویی صنعتیِ در هتل‌ها، فروشگاه‌ها و بیمارستان‌ها، تعمیر یخچال‌ فریزرهای خانگی و صنعتی. تعمیر جاروبرقی، تعمیر جارو شارژی، تعمیر بخاری برقی، تعمیر اتو، تعمیر بخارشو، تعمیر دستگاه بخور و …
																												
																												تعمیر لوازم کوچک آشپزخانه اعم از تعمیر آبمیوه‌گیری، تعمیر سرخ کن، تعمیر توستر، تعمیر آرام پز، تعمیر غذاساز، تعمیر بخارپز، تعمیر پلوپز، تعمیر مایکروویو، تعمیر آسیاب، تعمیر مخلوط کن، تعمیر قهوه‌ساز، تعمیر اسپرسوساز، تعمیر چرخ گوشت، تعمیر گوشتکوب برقی، تعمیر ساندویچ ساز، تعمیر هواپز، تعمیر کتری برقی، تعمیر میوه خشک‌کن، تعمیر چای‌ساز، تعمیر زودپز برقی، تعمیر کیک‌پز، تعمیر همزن، تعمیر سماور برقی.
																												
																												و بالأخره تعمیر انواع لوازم برقی آرایشی و بهداشتی اعم از تعمیر ماشین‌های اصلاح، تعمیر سشوار، تعمیر اپیلیدی یا اتوی مو.
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>{% endblock %}
