{% extends 'main/base.html.twig' %}

{% block title %}
	همکاری با آریاکیش
{% endblock %}

{% block body %}
	{{ form_start(form, {'class': 'flex flex-co'}) }}
	{{ form_widget(form) }}
	<button type="submit" class="mt-6 bg-blue-700  h-12 sm:w-fit-content w-full px-12 flex self-end justify-center items-center text-white border border-blue-700 rounded font-medium transition duration-200 hover:text-blue-700 hover:bg-white">
		ارسال پیام
	</button>
	{{ form_end(form) }}
{% endblock %}
