{% extends 'main/base.html.twig' %}

{% block title %}
	ارتباط با آریاکیش
{% endblock %}

{% block body %}
	<section class="container mx-auto">
		<div class="flex flex-col items-center">
			<div class="mb-16 flex flex-col items-center pt-10">
				<h2 class="text-gray-800 text-base md:text-3xl font-bold mb-2">
					ارتباط با ما
				</h2>
				<h6 class="text-gray-500 text-center text-2xl md:text-base">
					در این صفحه میتوانید اطلاعات ارتباطی شرکت آریاکیش را مشاهده کنید.
				</h6>
			</div>
			<div class="flex md:flex-row flex-col items-center ">
				<div class="md:mb-0 mb-10">
					<h6 class="text-dark-550  sm:mb-9 mb-4 font-semibold sm:text-2xl text-xl sm:text-right text-center">
						پل های ارتباطی
					</h6>
					<ul class="flex space-x-reverse  ">
						<li class="sm:ml-6 ml-3 last:ml-0 ">
							<a class="sm:w-16 sm:h-16 w-12 h-12 bg-blue-700 bg-opacity-10 rounded-lg flex items-center justify-center group transition duration-200 hover:bg-opacity-100" href="https://">
								<svg xmlns="http://www.w3.org/2000/svg" class="w-10 h-10 transform scale-75 fill-current text-blue-700 transition duration-200 group-hover:text-white" viewbox="0 0 24 24" fill="currentColor">
									<path d="M12.001 2C17.5238 2 22.001 6.47715 22.001 12C22.001 17.5228 17.5238 22 12.001 22C10.1671 22 8.44851 21.5064 6.97086 20.6447L2.00516 22L3.35712 17.0315C2.49494 15.5536 2.00098 13.8345 2.00098 12C2.00098 6.47715 6.47813 2 12.001 2ZM8.59339 7.30019L8.39232 7.30833C8.26293 7.31742 8.13607 7.34902 8.02057 7.40811C7.93392 7.45244 7.85348 7.51651 7.72709 7.63586C7.60774 7.74855 7.53857 7.84697 7.46569 7.94186C7.09599 8.4232 6.89729 9.01405 6.90098 9.62098C6.90299 10.1116 7.03043 10.5884 7.23169 11.0336C7.63982 11.9364 8.31288 12.8908 9.20194 13.7759C9.4155 13.9885 9.62473 14.2034 9.85034 14.402C10.9538 15.3736 12.2688 16.0742 13.6907 16.4482C13.6907 16.4482 14.2507 16.5342 14.2589 16.5347C14.4444 16.5447 14.6296 16.5313 14.8153 16.5218C15.1066 16.5068 15.391 16.428 15.6484 16.2909C15.8139 16.2028 15.8922 16.159 16.0311 16.0714C16.0311 16.0714 16.0737 16.0426 16.1559 15.9814C16.2909 15.8808 16.3743 15.81 16.4866 15.6934C16.5694 15.6074 16.6406 15.5058 16.6956 15.3913C16.7738 15.2281 16.8525 14.9166 16.8838 14.6579C16.9077 14.4603 16.9005 14.3523 16.8979 14.2854C16.8936 14.1778 16.8047 14.0671 16.7073 14.0201L16.1258 13.7587C16.1258 13.7587 15.2563 13.3803 14.7245 13.1377C14.6691 13.1124 14.6085 13.1007 14.5476 13.097C14.4142 13.0888 14.2647 13.1236 14.1696 13.2238C14.1646 13.2218 14.0984 13.279 13.3749 14.1555C13.335 14.2032 13.2415 14.3069 13.0798 14.2972C13.0554 14.2955 13.0311 14.292 13.0074 14.2858C12.9419 14.2685 12.8781 14.2457 12.8157 14.2193C12.692 14.1668 12.6486 14.1469 12.5641 14.1105C11.9868 13.8583 11.457 13.5209 10.9887 13.108C10.8631 12.9974 10.7463 12.8783 10.6259 12.7616C10.2057 12.3543 9.86169 11.9211 9.60577 11.4938C9.5918 11.4705 9.57027 11.4368 9.54708 11.3991C9.50521 11.331 9.45903 11.25 9.44455 11.1944C9.40738 11.0473 9.50599 10.9291 9.50599 10.9291C9.50599 10.9291 9.74939 10.663 9.86248 10.5183C9.97128 10.379 10.0652 10.2428 10.125 10.1457C10.2428 9.95633 10.2801 9.76062 10.2182 9.60963C9.93764 8.92565 9.64818 8.24536 9.34986 7.56894C9.29098 7.43545 9.11585 7.33846 8.95659 7.32007C8.90265 7.31384 8.84875 7.30758 8.79459 7.30402C8.66053 7.29748 8.5262 7.29892 8.39232 7.30833L8.59339 7.30019Z"></path>
								</svg>
							</a>
						</li>
						<li class="sm:ml-6 ml-3 last:ml-0 ">
							<a class="sm:w-16 sm:h-16 w-12 h-12  bg-blue-700 bg-opacity-10 rounded-lg flex items-center justify-center group transition duration-200 hover:bg-opacity-100" href="mailto:info@roocket.ir">
								<svg xmlns="http://www.w3.org/2000/svg" class="w-10 h-10 transform scale-75 fill-current text-blue-700 transition duration-200 group-hover:text-white" viewbox="0 0 24 24" fill="currentColor">
									<path d="M3 3H21C21.5523 3 22 3.44772 22 4V20C22 20.5523 21.5523 21 21 21H3C2.44772 21 2 20.5523 2 20V4C2 3.44772 2.44772 3 3 3ZM12.0606 11.6829L5.64722 6.2377L4.35278 7.7623L12.0731 14.3171L19.6544 7.75616L18.3456 6.24384L12.0606 11.6829Z"></path>
								</svg>
							</a>
						</li>
					</ul>
				</div>

				<i class="md:flex hidden mx-14 h-32  border-l border-gray-500 border-opacity-20"></i>
				<div class="lg:flex pt-8 pb-11 lg:space-y-0 space-y-6 bg-white rounded-2xl shadow">
					<div class="lg:px-11 w-full px-5 space-y-6 lg:border-l border-gray-300  border-opacity-25 lg:text-right text-center">
						<div class="flex">
							<i class="lg:flex hidden bg-blue-500  rounded-full w-2 h-2 ml-2 mt-3"></i>
							<div class="lg:w-11/12 w-full">
								<h5 class="text-blue-500 font-semibold mb-1 sm:text-26 text-22">
									شماره تماس شرکت
								</h5>
								<p class="text-slate-600 sm:text-22 text-base leading-8">
									021-86780
								</p>
							</div>
						</div>
						<div class="flex">
							<i class="lg:flex hidden bg-blue-500 rounded-full w-2 h-2 ml-2 mt-3"></i>
							<div class="lg:w-11/12 w-full">
								<h5 class="text-blue-500 font-semibold mb-1 sm:text-26 text-22">
									آدرس شرکت ما
								</h5>
								<p class="text-slate-600 sm:text-22 text-base leading-8">
									تهران میدان ولیعصر بلوار کشاورز خیابان کبکانیان پلاک 14 واحد 5 شمالی
								</p>
							</div>
						</div>
						<div class="flex">
							<i class="lg:flex hidden bg-blue-500 rounded-full w-2 h-2 ml-2 mt-3"></i>
							<div class="lg:w-11/12 w-full">
								<h5 class="text-blue-500 font-semibold mb-1 sm:text-26 text-22">
									زمان کاری در شرکت
								</h5>
								<p class="text-slate-600 sm:text-22 text-base leading-8">
									شنبه تا چهارشنبه 9 الی 17 و پنجشنبه ساعت 9 الی 12
								</p>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>

		<div class="container pt-64">
			<div class="relative">
				<div class="lg:absolute relative lg:mx-0 sm:mb-0 mx-auto z-10 md:w-[30rem] w-3/5 lg:-top-1/3 transform  xl:left-40 lg:left-15 lg:mb-0 -mb-20 bg-white rounded-xl shadow-sm lg:px-9 px-4 pt-9 pb-6">
					<h3 class="flex items-center sm:text-3xl text-xl font-bold  text-gray-800 mb-3">
						<svg xmlns="http://www.w3.org/2000/svg" class="ml-2 sm:w-8 w-7 h-7" viewbox="0 0 24 24" fill="currentColor">
							<path d="M21 8C22.1046 8 23 8.89543 23 10V14C23 15.1046 22.1046 16 21 16H19.9381C19.446 19.9463 16.0796 23 12 23V21C15.3137 21 18 18.3137 18 15V9C18 5.68629 15.3137 3 12 3C8.68629 3 6 5.68629 6 9V16H3C1.89543 16 1 15.1046 1 14V10C1 8.89543 1.89543 8 3 8H4.06189C4.55399 4.05369 7.92038 1 12 1C16.0796 1 19.446 4.05369 19.9381 8H21ZM7.75944 15.7849L8.81958 14.0887C9.74161 14.6662 10.8318 15 12 15C13.1682 15 14.2584 14.6662 15.1804 14.0887L16.2406 15.7849C15.0112 16.5549 13.5576 17 12 17C10.4424 17 8.98882 16.5549 7.75944 15.7849Z"></path>
						</svg>
						فرم تماس باما
					</h3>
					<p class="mb-5 text-gray-20 sm:text-lg text-sm font-normal leading-7 text-justify">
						مشترکین گرامی، جهت جلب رضایت شما به هرگونه انتقاد، پیشنهاد و یا مشکل در سریع ترین زمان رسیدگی میکنیم
																																																																																																																																																																																										شما می‌توانید از طریق فرم زیر پیام خود را برای ما ارسال کنید.
					</p>

					{{ form_start(form, {'class': 'flex flex-co'}) }}
					{{ form_widget(form) }}
					<button type="submit" class="mt-6 bg-blue-700  h-12 sm:w-fit-content w-full px-12 flex self-end justify-center items-center text-white border border-blue-700 rounded font-medium transition duration-200 hover:text-blue-700 hover:bg-white">
						ارسال پیام
					</button>
					{{ form_end(form) }}
				</div>
				<a href="https://maps.app.goo.gl/mGeFYEKVXpip52Ae7" class="relative w-full sm:h-[35rem] h-64 inline-block overflow-hidden rounded-2xl">
					<div class="bg-black bg-opacity-15 top-0 right-0 w-full h-full absolute"></div>
					<img class="w-full h-full object-cover" src="{{ asset('images/map.png') }}" alt="">
				</a>
			</div>
		</div>
	</section>
{% endblock %}
