{% extends 'dashboard/base.html.twig' %}

{% block title %}
	{{ parent() }}
	مدیریت مدیران
{% endblock %}

{% block body %}
	<div class="flex justify-between py-4 items-center">
		<div class="font-bold text-[27px] flex flex-col gap-1">
			<p class="text-slate-700">
				مدیریت مدیران
			</p>
			<p class="text-base text-gray-400 font-semibold">
				شما در مجموع 1261 مدیران دارید.
			</p>
		</div>
		<div class="flex gap-5 ">
			<button class="px-4 py-1.5 justify-between hover:border-slate-500 hover:bg-slate-500 hover:text-white transition-all duration-300 items-center flex gap-3 border text-slate-600 rounded">
				<svg xmlns="http://www.w3.org/2000/svg" class="inline stroke-current w-5 h-5" viewbox="0 0 24 24" fill="currentColor">
					<path d="M11 11V5H13V11H19V13H13V19H11V13H5V11H11Z"></path>
				</svg>
				<p class="font-bold text-xs">
					افزدون مدیر جدید
				</p>
				<svg xmlns="http://www.w3.org/2000/svg" class="inline stroke-current" width="20" height="20" fill="none" viewbox="0 0 24 24">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="m14 8-4 4 4 4"></path>
				</svg>

			</button>
		</div>
	</div>
	<div class="w-full border bg-white">
		<div class="px-4 py-5 flex justify-between border-b">
			<div class="flex gap-3 items-center">
				<p class="text-xl text-slate-600 font-bold">همه مدیر ها</p>
			</div>
			<div class="flex gap-2 items-center justify-center">
				{% include "components/_search_data.html.twig" with {
					form: form ?? null
				} only %}
			</div>
		</div>
		{% include "dashboard/pages/admin/_table.html.twig" with {
			contents: contents
		} only %}
	</table>
	<div class="py-5">
		<div class="px-7 flex justify-between bg-white">
			{{ knp_pagination_render(contents) }}
		</div>
	</div>
</div>{% endblock %}
