<footer class="bg-white">
	<div class="container mx-auto">
		<div class="border-t lg:border-none rounded-t-3xl mt-7 container lg:rounded-none flex flex-col">
			<div class="pr-5 pt-5">
				<p class="text-base font-bold text-slate-700 block lg:hidden">
					تلفن تماس مشتریان با شرکت : 02186780 | تلفن تماس همکاران با شرکت :
																																																																																												                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    02188995050 | واتس‌اپ شرکت : 09202186780
				</p>
			</div>

			<div class="rounded-3xl w-full h-16 justify-center lg:justify-normal items-center flex pl-6 pr-6 mt-14 bg-gray-200">
				<p class="text-base font-bold text-slate-700 hidden lg:block">
					تلفن تماس مشتریان با شرکت : 02186780 | تلفن تماس همکاران با شرکت :
																																																																																												                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    02188995050 | واتس‌اپ شرکت : 09202186780
				</p>
				<div class="flex gap-3 items-center lg:mr-auto">
					<p class="text-base font-bold text-slate-700">درخواست پشتیبانی</p>
					<svg xmlns="http://www.w3.org/2000/svg" width="14" height="10" fill="none" viewbox="0 0 14 10">
						<path fill="#334155" fill-rule="evenodd" d="M5.217.244a.876.876 0 0 1 0 1.179L2.656 4.167h10.566c.43 0 .778.373.778.833 0 .46-.348.833-.778.833H2.656l2.56 2.744a.876.876 0 0 1 0 1.179.742.742 0 0 1-1.1 0L.229 5.589a.876.876 0 0 1 0-1.178L4.117.244a.742.742 0 0 1 1.1 0Z" clip-rule="evenodd"/>
					</svg>
				</div>
			</div>
		</div>
		<div class="flex gap-8 lg:gap-36 mt-8 mb-8 justify-center flex-wrap">
			<div class="flex flex-col gap-2">
				<p class="text-sm max-lg:text-xs font-bold text-gray-400">
					محصولات
				</p>
				<ul class="text-sm max-lg:text-xs font-normal flex flex-col gap-1 text-slate-700">
					<li>
						<a href="#">پاسخ به پرسش های متداول
						</a>
					</li>
					<li>
						<a href="#">
							رویه های بازگرداندن کالا
						</a>
					</li>
					<li>
						<a href="#">
							شرایط استفاده
						</a>
					</li>
					<li>
						<a href="#">
							حریم خصوصی
						</a>
					</li>
					<li>
						<a href="#">
							گزارش باگ
						</a>
					</li>
				</ul>
			</div>
			<div class="flex flex-col gap-2">
				<p class="text-sm max-lg:text-xs font-bold text-gray-400">
					اشنایی با ایران کیش
				</p>
				<ul class="text-sm max-lg:text-xs font-normal flex flex-col gap-1 text-slate-700">
					<li>
						<a href="#">پاسخ به پرسش های متداول
						</a>
					</li>
					<li>
						<a href="#">
							رویه های بازگرداندن کالا
						</a>
					</li>
					<li>
						<a href="#">
							شرایط استفاده
						</a>
					</li>
					<li>
						<a href="#">
							حریم خصوصی
						</a>
					</li>
					<li>
						<a href="#">
							گزارش باگ
						</a>
					</li>
				</ul>
			</div>
			<div class="flex flex-col gap-2 max-md:mr-7">
				<p class="text-sm max-lg:text-xs font-bold text-gray-400">منابع</p>
				<ul class="text-sm max-lg:text-xs font-normal flex flex-col gap-1 text-slate-700">
					<li>
						<a href="#">پاسخ به پرسش های متداول
						</a>
					</li>
					<li>
						<a href="#">
							رویه های بازگرداندن کالا
						</a>
					</li>
					<li>
						<a href="#">
							شرایط استفاده
						</a>
					</li>
					<li>
						<a href="#">
							حریم خصوصی
						</a>
					</li>
					<li>
						<a href="#">
							گزارش باگ
						</a>
					</li>
				</ul>
			</div>
			<div class="flex gap-5 flex-col lg:items-center">
				<p class="text-sm max-lg:text-xs font-bold text-gray-400">
					ایران کیش در شبکه های اجتماعی
				</p>
				<div class="lg:flex gap-2 hidden">
					<div class="w-9 h-9 flex justify-center items-center rounded-xl relative bg-gray-200">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none" viewbox="0 0 16 16">
							<g clip-path="url(#a)">
								<path fill="#334155" d="M8 1.441c2.136 0 2.39.008 3.233.047.872.04 1.77.239 2.405.874.641.641.834 1.53.874 2.405.039.844.047 1.097.047 3.233s-.008 2.39-.047 3.233c-.04.867-.243 1.774-.874 2.405-.641.641-1.53.834-2.405.874-.844.039-1.097.047-3.233.047s-2.39-.008-3.233-.047c-.86-.04-1.779-.247-2.405-.874-.638-.638-.834-1.536-.874-2.405-.039-.844-.047-1.097-.047-3.233s.008-2.39.047-3.233c.04-.864.245-1.776.874-2.405.64-.64 1.533-.834 2.405-.874.844-.039 1.097-.047 3.233-.047ZM8 0C5.827 0 5.555.01 4.701.048c-1.236.057-2.464.4-3.358 1.295C.445 2.24.105 3.465.048 4.7.009 5.555 0 5.827 0 8s.01 2.445.048 3.299c.057 1.235.402 2.466 1.295 3.358.896.897 2.124 1.238 3.358 1.295C5.555 15.991 5.827 16 8 16s2.445-.01 3.299-.048c1.236-.057 2.465-.401 3.358-1.295.898-.898 1.238-2.122 1.295-3.358.039-.854.048-1.126.048-3.299s-.01-2.445-.048-3.299c-.057-1.236-.401-2.465-1.295-3.358C13.762.447 12.531.104 11.3.048 10.445.009 10.173 0 8 0Z"/>
								<path fill="#334155" d="M8 3.892a4.108 4.108 0 1 0 0 8.216 4.108 4.108 0 0 0 0-8.216Zm0 6.775a2.667 2.667 0 1 1 0-5.334 2.667 2.667 0 0 1 0 5.334Zm4.27-5.977a.96.96 0 1 0 0-1.92.96.96 0 0 0 0 1.92Z"/>
							</g>
							<defs>
								<clipPath id="a">
									<path fill="#fff" d="M0 0h16v16H0z"/>
								</clipPath>
							</defs>
						</svg>

						<a class="absolute w-full h-full left-0 top-0" href="#"></a>
					</div>
					<div class="w-9 h-9 flex justify-center items-center rounded-xl relative bg-gray-200">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none" viewbox="0 0 16 16">
							<g clip-path="url(#a)">
								<path fill="#334155" d="M14.362 4.736c.01.14.01.282.01.424 0 4.338-3.303 9.34-9.34 9.34v-.003A9.29 9.29 0 0 1 0 13.026a6.587 6.587 0 0 0 4.858-1.36 3.286 3.286 0 0 1-3.067-2.28c.492.094.999.075 1.482-.057A3.283 3.283 0 0 1 .64 6.111V6.07c.457.255.967.395 1.49.41A3.285 3.285 0 0 1 1.113 2.1a9.321 9.321 0 0 0 6.766 3.43 3.286 3.286 0 0 1 5.594-2.994 6.582 6.582 0 0 0 2.084-.797 3.298 3.298 0 0 1-1.443 1.816A6.594 6.594 0 0 0 16 3.037a6.672 6.672 0 0 1-1.638 1.699Z"/>
							</g>
							<defs>
								<clipPath id="a">
									<path fill="#fff" d="M0 0h16v16H0z"/>
								</clipPath>
							</defs>
						</svg>

						<a class="absolute w-full h-full left-0 top-0" href="#"></a>
					</div>
					<div class="w-9 h-9 flex justify-center items-center rounded-xl relative bg-gray-200">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none" viewbox="0 0 16 16">
							<g clip-path="url(#a)">
								<path fill="#334155" fill-rule="evenodd" d="M13.642 2.325A7.878 7.878 0 0 0 8.033 0C3.663 0 .107 3.556.105 7.928a7.912 7.912 0 0 0 1.058 3.964L.038 16l4.203-1.103a7.92 7.92 0 0 0 3.788.966h.004c4.369 0 7.926-3.557 7.928-7.929a7.877 7.877 0 0 0-2.319-5.609ZM8.033 14.523h-.002a6.573 6.573 0 0 1-3.354-.918l-.241-.143-2.494.654.666-2.432-.157-.25a6.57 6.57 0 0 1-1.007-3.506 6.6 6.6 0 0 1 6.593-6.59 6.54 6.54 0 0 1 4.658 1.933 6.551 6.551 0 0 1 1.928 4.662c-.002 3.634-2.958 6.59-6.59 6.59Zm3.615-4.935c-.198-.1-1.172-.579-1.354-.645-.181-.066-.313-.099-.446.099s-.511.645-.627.777c-.116.132-.232.149-.43.05-.198-.1-.836-.308-1.593-.984a5.964 5.964 0 0 1-1.102-1.372c-.115-.199-.012-.306.087-.404.089-.089.198-.232.297-.348.1-.114.133-.197.2-.33.065-.132.033-.248-.017-.347-.05-.099-.446-1.074-.611-1.47-.16-.387-.324-.335-.446-.34a7.631 7.631 0 0 0-.38-.007.726.726 0 0 0-.528.248c-.181.198-.693.678-.693 1.652 0 .976.71 1.918.808 2.05.099.132 1.397 2.133 3.384 2.991.473.204.842.326 1.13.417.474.151.906.13 1.248.079.38-.057 1.172-.48 1.337-.942.165-.463.165-.86.115-.942-.049-.083-.181-.133-.379-.232Z" clip-rule="evenodd"/>
							</g>
							<defs>
								<clipPath id="a">
									<path fill="#fff" d="M0 0h16v16H0z"/>
								</clipPath>
							</defs>
						</svg>

						<a class="absolute w-full h-full left-0 top-0" href="#"></a>
					</div>
					<div class="w-9 h-9 flex justify-center items-center rounded-xl bg-gray-200 relative">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none" viewbox="0 0 16 16">
							<g clip-path="url(#a)">
								<path fill="#334155" d="M15.665 4.124A2.011 2.011 0 0 0 14.251 2.7C13.003 2.364 8 2.364 8 2.364s-5.003 0-6.251.336A2.01 2.01 0 0 0 .335 4.124C0 5.38 0 8 0 8s0 2.62.335 3.876A2.01 2.01 0 0 0 1.749 13.3c1.248.336 6.251.336 6.251.336s5.003 0 6.251-.336a2.012 2.012 0 0 0 1.415-1.424C16 10.62 16 8 16 8s0-2.62-.335-3.876Zm-9.301 6.255V5.621L10.545 8l-4.181 2.38Z"/>
							</g>
							<defs>
								<clipPath id="a">
									<path fill="#fff" d="M0 0h16v16H0z"/>
								</clipPath>
							</defs>
						</svg>

						<a class="absolute w-full h-full left-0 top-0" href="#"></a>
					</div>
				</div>
				<div class="flex gap-2 lg:hidden">
					<div class="flex flex-col gap-2">
						<div class="w-9 h-9 flex justify-center items-center rounded-xl relative bg-gray-200">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none" viewbox="0 0 16 16">
								<g clip-path="url(#a)">
									<path fill="#334155" d="M8 1.441c2.136 0 2.39.008 3.233.047.872.04 1.77.239 2.405.874.641.641.834 1.53.874 2.405.039.844.047 1.097.047 3.233s-.008 2.39-.047 3.233c-.04.867-.243 1.774-.874 2.405-.641.641-1.53.834-2.405.874-.844.039-1.097.047-3.233.047s-2.39-.008-3.233-.047c-.86-.04-1.779-.247-2.405-.874-.638-.638-.834-1.536-.874-2.405-.039-.844-.047-1.097-.047-3.233s.008-2.39.047-3.233c.04-.864.245-1.776.874-2.405.64-.64 1.533-.834 2.405-.874.844-.039 1.097-.047 3.233-.047ZM8 0C5.827 0 5.555.01 4.701.048c-1.236.057-2.464.4-3.358 1.295C.445 2.24.105 3.465.048 4.7.009 5.555 0 5.827 0 8s.01 2.445.048 3.299c.057 1.235.402 2.466 1.295 3.358.896.897 2.124 1.238 3.358 1.295C5.555 15.991 5.827 16 8 16s2.445-.01 3.299-.048c1.236-.057 2.465-.401 3.358-1.295.898-.898 1.238-2.122 1.295-3.358.039-.854.048-1.126.048-3.299s-.01-2.445-.048-3.299c-.057-1.236-.401-2.465-1.295-3.358C13.762.447 12.531.104 11.3.048 10.445.009 10.173 0 8 0Z"/>
									<path fill="#334155" d="M8 3.892a4.108 4.108 0 1 0 0 8.216 4.108 4.108 0 0 0 0-8.216Zm0 6.775a2.667 2.667 0 1 1 0-5.334 2.667 2.667 0 0 1 0 5.334Zm4.27-5.977a.96.96 0 1 0 0-1.92.96.96 0 0 0 0 1.92Z"/>
								</g>
								<defs>
									<clipPath id="a">
										<path fill="#fff" d="M0 0h16v16H0z"/>
									</clipPath>
								</defs>
							</svg>

							<a class="absolute w-full h-full left-0 top-0" href="#"></a>
						</div>
						<div class="w-9 h-9 flex justify-center items-center rounded-xl relative bg-gray-200">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none" viewbox="0 0 16 16">
								<g clip-path="url(#a)">
									<path fill="#334155" d="M14.362 4.736c.01.14.01.282.01.424 0 4.338-3.303 9.34-9.34 9.34v-.003A9.29 9.29 0 0 1 0 13.026a6.587 6.587 0 0 0 4.858-1.36 3.286 3.286 0 0 1-3.067-2.28c.492.094.999.075 1.482-.057A3.283 3.283 0 0 1 .64 6.111V6.07c.457.255.967.395 1.49.41A3.285 3.285 0 0 1 1.113 2.1a9.321 9.321 0 0 0 6.766 3.43 3.286 3.286 0 0 1 5.594-2.994 6.582 6.582 0 0 0 2.084-.797 3.298 3.298 0 0 1-1.443 1.816A6.594 6.594 0 0 0 16 3.037a6.672 6.672 0 0 1-1.638 1.699Z"/>
								</g>
								<defs>
									<clipPath id="a">
										<path fill="#fff" d="M0 0h16v16H0z"/>
									</clipPath>
								</defs>
							</svg>

							<a class="absolute w-full h-full left-0 top-0" href="#"></a>
						</div>
					</div>
					<div class="flex flex-col gap-2">
						<div class="w-9 h-9 flex justify-center items-center rounded-xl relative bg-gray-200">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none" viewbox="0 0 16 16">
								<g clip-path="url(#a)">
									<path fill="#334155" fill-rule="evenodd" d="M13.642 2.325A7.878 7.878 0 0 0 8.033 0C3.663 0 .107 3.556.105 7.928a7.912 7.912 0 0 0 1.058 3.964L.038 16l4.203-1.103a7.92 7.92 0 0 0 3.788.966h.004c4.369 0 7.926-3.557 7.928-7.929a7.877 7.877 0 0 0-2.319-5.609ZM8.033 14.523h-.002a6.573 6.573 0 0 1-3.354-.918l-.241-.143-2.494.654.666-2.432-.157-.25a6.57 6.57 0 0 1-1.007-3.506 6.6 6.6 0 0 1 6.593-6.59 6.54 6.54 0 0 1 4.658 1.933 6.551 6.551 0 0 1 1.928 4.662c-.002 3.634-2.958 6.59-6.59 6.59Zm3.615-4.935c-.198-.1-1.172-.579-1.354-.645-.181-.066-.313-.099-.446.099s-.511.645-.627.777c-.116.132-.232.149-.43.05-.198-.1-.836-.308-1.593-.984a5.964 5.964 0 0 1-1.102-1.372c-.115-.199-.012-.306.087-.404.089-.089.198-.232.297-.348.1-.114.133-.197.2-.33.065-.132.033-.248-.017-.347-.05-.099-.446-1.074-.611-1.47-.16-.387-.324-.335-.446-.34a7.631 7.631 0 0 0-.38-.007.726.726 0 0 0-.528.248c-.181.198-.693.678-.693 1.652 0 .976.71 1.918.808 2.05.099.132 1.397 2.133 3.384 2.991.473.204.842.326 1.13.417.474.151.906.13 1.248.079.38-.057 1.172-.48 1.337-.942.165-.463.165-.86.115-.942-.049-.083-.181-.133-.379-.232Z" clip-rule="evenodd"/>
								</g>
								<defs>
									<clipPath id="a">
										<path fill="#fff" d="M0 0h16v16H0z"/>
									</clipPath>
								</defs>
							</svg>

							<a class="absolute w-full h-full left-0 top-0" href="#"></a>
						</div>
						<div class="w-9 h-9 flex justify-center items-center rounded-xl bg-gray-200 relative">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none" viewbox="0 0 16 16">
								<g clip-path="url(#a)">
									<path fill="#334155" d="M15.665 4.124A2.011 2.011 0 0 0 14.251 2.7C13.003 2.364 8 2.364 8 2.364s-5.003 0-6.251.336A2.01 2.01 0 0 0 .335 4.124C0 5.38 0 8 0 8s0 2.62.335 3.876A2.01 2.01 0 0 0 1.749 13.3c1.248.336 6.251.336 6.251.336s5.003 0 6.251-.336a2.012 2.012 0 0 0 1.415-1.424C16 10.62 16 8 16 8s0-2.62-.335-3.876Zm-9.301 6.255V5.621L10.545 8l-4.181 2.38Z"/>
								</g>
								<defs>
									<clipPath id="a">
										<path fill="#fff" d="M0 0h16v16H0z"/>
									</clipPath>
								</defs>
							</svg>

							<a class="absolute w-full h-full left-0 top-0" href="#"></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="bg-gray-50 text-center py-6 text-xs font-medium">
		تمام حقوق این سایت نزد آریاکیش (مرکز ارائه گارانتی و خدمات پس از فروش لوازم خانگی) محفوظ می باشد.
		<div class="pt-1">
			طراحی و پشتیبانی سایت:
			<a href="/" class="underline text-blue-500">
				شرکت فراکد
			</a>
		</div>
	</div>
</footer>
