<header>
	<div class="container mx-auto">
		<div class="flex bg-white mt-8 rounded-3xl justify-between pl-7 pr-7 shadow">
			<div class="relative flex flex-col items-center py-5">
				<div class="flex items-end">
					<div class="w-16 h-16">
						<img src="https://credit.ariakish.com/fav-ariakish.png" class="inline-block w-full h-full">
					</div>
					<svg xmlns="http://www.w3.org/2000/svg" width="100" viewbox="0 0 19.62 7.58" xml:space="preserve">
						<style>
							.st0 {
								fill: #ee153e
							}
						</style>
						<path class="st0" d="M6.04 2.13c.05.04.1.06.16.06.16 0 .23-.07.23-.22 0-.07-.04-.14-.11-.22a.746.746 0 0 1-.07-.12.401.401 0 0 1-.03-.15c0-.1.03-.17.1-.23.06-.06.16-.09.28-.11.04 0 .09.02.14.04.05.02.1.05.14.09.04.05.07.09.1.15.02.05.03.11.03.17 0 .12-.07.26-.21.41-.07.07-.17.14-.29.21-.12.07-.27.14-.44.2-.1.06-.14.11-.14.15 0 .05.04.09.11.12.05.01.11 0 .19-.01s.18-.04.29-.07c.23-.07.44-.2.65-.39.19-.2.29-.42.29-.66.01-.19-.06-.38-.21-.57-.07-.1-.16-.17-.28-.21S6.72.7 6.57.71c-.08 0-.17.01-.25.04a.72.72 0 0 0-.21.12c-.07.06-.12.13-.17.2-.04.08-.07.16-.08.25 0 .03-.01.06-.01.09s-.01.07-.01.11c0 .14.02.27.05.38.04.1.09.18.15.23zM9.92 5.14c-.1-.02-.24-.03-.44-.03-.41 0-.76.08-1.05.25-.12.09-.18.17-.18.24 0 .12.07.19.2.19.02 0 .04 0 .06-.01l.06-.03v.01c.19-.09.39-.16.6-.21s.43-.08.64-.1c.1-.01.17-.02.22-.04.05-.02.08-.05.08-.09.02-.06-.05-.12-.19-.18zM10.3 2.58h.01c.37-.14.91-.41 1.61-.8.35-.2.71-.41 1.08-.63.37-.23.76-.47 1.17-.73.03-.02.05-.05.05-.08.01-.09-.06-.14-.2-.15-.08 0-.19.02-.33.06-.05.02-.17.08-.36.19-.19.11-.45.27-.78.48-.32.2-.65.39-1 .58-.35.19-.7.36-1.06.52-.12.05-.2.1-.27.16-.06.06-.1.13-.1.19-.01.14.05.21.18.21zM10.52 2.58c-.15 0-.22.07-.2.2.05.17.07.33.07.49 0 .37-.17.57-.51.6-.14-.01-.22-.03-.25-.08-.03-.06-.04-.11-.01-.17.01-.02.02-.06.03-.1V3.4c0-.04-.01-.08-.02-.12a.207.207 0 0 0-.06-.1c-.02-.02-.05-.03-.08-.04-.03 0-.06-.01-.09-.01s-.06.01-.08.02c-.03.02-.04.04-.06.07-.03.09-.08.17-.14.25-.05.08-.12.14-.19.2-.08.06-.16.11-.26.15-.09.04-.19.05-.3.05-.13 0-.22-.02-.27-.05a.406.406 0 0 1-.1-.09.567.567 0 0 1-.08-.13c0-.02-.01-.04-.03-.06a.218.218 0 0 0-.05-.04c-.03-.02-.06-.04-.1-.04a.17.17 0 0 0-.1 0c-.03 0-.07.02-.11.05-.04.02-.09.06-.13.11-.08.09-.15.18-.22.25s-.13.13-.2.18c-.21.17-.41.26-.6.29-.05.01-.1.01-.14.02h-.22c-.03 0-.07-.01-.1-.01-.12-.03-.23-.06-.32-.11a.297.297 0 0 0-.11-.04c-.03 0-.05 0-.07.01-.02.01-.04.03-.06.04-.03.04-.17.16-.42.37-.25.21-.61.51-1.08.9-.48.4-.94.72-1.39.96-.45.24-.9.4-1.33.49-.15.02-.29.03-.4.03-.1 0-.19-.01-.28-.03-.02 0-.04-.01-.06-.01H.34c-.1 0-.16.03-.17.1-.03.08-.01.15.06.22.06.05.17.1.32.13s.35.05.59.07c.24 0 .51-.05.82-.16.31-.11.64-.27.98-.48.1-.07.26-.17.46-.33.2-.15.44-.33.72-.55.27-.22.54-.43.78-.64.24-.2.46-.4.65-.58.13.07.33.12.6.15.14.01.29-.01.44-.06.16-.06.32-.13.47-.23.13-.09.26-.18.37-.28.11-.1.21-.21.29-.34.01.07.03.12.04.15.1.25.31.37.6.37h.04c.18 0 .34-.03.49-.08.16-.05.28-.14.37-.26.09.2.29.31.6.34.02 0 .03 0 .05-.01h.03v.01c.15-.02.28-.06.4-.12.14-.07.26-.17.34-.29.17-.23.26-.5.25-.8 0-.29-.05-.49-.13-.6-.05-.07-.14-.11-.28-.11zM14.07 3c-.01.06-.04.13-.07.2-.03.07-.08.13-.13.2s-.12.12-.19.18c-.07.05-.16.1-.26.14-.1.05-.2.08-.29.1-.09.02-.17.03-.26.04-.4-.02-.6-.18-.6-.5 0-.09.03-.25.08-.48a2.911 2.911 0 0 1 .31-.73c.14-.25.21-.38.21-.41 0-.09-.04-.14-.13-.14-.12 0-.27.13-.45.39-.19.26-.32.53-.4.81-.09.28-.13.52-.13.71 0 .22.05.42.16.58.1.15.24.25.4.31.15.06.33.08.53.09h.06c.14 0 .27-.02.41-.07.16-.05.31-.13.47-.23.31-.21.51-.45.6-.72a.25.25 0 0 0 .02-.1c0-.05-.01-.09-.02-.14a.273.273 0 0 0-.06-.12c-.03-.03-.06-.06-.1-.08a.415.415 0 0 0-.16-.03zM13.06 5.47c.05-.02.08-.06.08-.1 0-.03-.02-.06-.06-.08a.523.523 0 0 0-.15-.07c-.1-.04-.23-.06-.41-.06-.2 0-.39.02-.55.06-.17.04-.32.1-.46.19-.12.09-.18.17-.18.24 0 .11.07.17.22.17.04 0 .08-.01.12-.03h-.01c.19-.08.38-.14.58-.19.2-.05.4-.08.6-.09.09-.01.16-.02.22-.04z"></path>
						<path class="st0" d="M14.94 3.91c-.05 0-.13.04-.22.11s-.2.18-.33.32l-.56.56c-.18.17-.34.32-.5.46-.15.13-.29.24-.42.33-.12.09-.23.15-.33.2-.18.09-.27.17-.27.25 0 .06.06.1.18.1.06 0 .12-.01.19-.02s.14-.03.23-.05c.28-.09.69-.39 1.21-.9a7.36 7.36 0 0 1 .92-.77c.07-.05.12-.1.16-.17.04-.06.04-.13.03-.2-.03-.15-.13-.22-.29-.22zM17 1.43c-.07 0-.14.02-.21.07-.05.02-.12.13-.22.32s-.21.45-.34.79c-.08.19-.17.37-.26.54-.1.17-.19.33-.27.47-.09.14-.17.25-.22.35-.05.09-.08.15-.08.18 0 .07.03.11.08.11.04 0 .09-.03.14-.08.08-.06.17-.17.27-.33.1-.17.21-.38.33-.66.33-.77.52-1.14.58-1.1.01 0 .02-.01.03-.01h.02c.06 0 .09.09.1.28V2.53c0 .5-.1.88-.3 1.14-.05.06-.11.12-.16.18s-.1.1-.15.14c-.08.07-.13.1-.13.1-.02-.01-.05-.01-.07-.02h-.09c-.27 0-.41.11-.44.33v.08c0 .18.08.27.24.27a.59.59 0 0 0 .28-.08c.09-.02.19-.07.3-.15.11-.08.23-.19.36-.33.26-.28.43-.54.5-.81.07-.22.11-.54.11-.95v-.14c-.01-.25-.04-.46-.1-.62-.08-.16-.18-.24-.3-.24z"></path>
						<path class="st0" d="M19.26.11c-.08 0-.15.02-.21.07-.05.05-.1.09-.15.13-.05.04-.1.08-.16.11-.2.13-.41.2-.63.2-.1.01-.21.01-.31-.01-.1-.01-.2-.02-.3-.04-.1-.02-.2-.04-.28-.05-.08-.01-.15-.02-.2-.02-.4-.01-.69.06-.88.2-.1.08-.24.22-.4.43-.16.21-.36.48-.59.82-.05.07-.08.14-.08.21 0 .1.06.16.19.16.11 0 .2-.04.25-.12.06-.09.12-.19.18-.28.06-.09.12-.19.18-.28.07-.11.14-.2.22-.29.07-.08.14-.15.21-.21.1-.05.19-.1.29-.14.1-.04.2-.06.3-.06h.1c.07.01.16.02.25.03.1.01.2.03.32.06.1.01.18.02.25.03.07.01.13.01.18.01h.14c.28-.04.53-.11.73-.21.21-.1.37-.22.51-.38.03-.05.06-.09.07-.13.02-.04.02-.07.02-.1.01-.09-.06-.14-.2-.14z"></path>
					</svg>
				</div>
				<div class="text-[9px] font-medium pt-1">
					مرکز گارانتی، خدمات پس از فروش و تعمیرات
				</div>
				<a class="absolute top-0 right-0 w-full h-full" href="/"></a>
			</div>
			<div class="lg:flex gap-[0.5rem] hidden">
				<button>
					<a class="text-slate-700 text-sm px-5 py-1 border border-gray-300 rounded-xl" href="page5.html">
						باشگاه مشتریان
					</a>

				</button>
				<button>
					<a class="text-slate-700 relative flex gap-1.5 items-center text-sm px-5 py-1 border border-gray-300 rounded-xl" href="login.html">
						<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="none" viewbox="0 0 14 14">
							<path fill="#334155" fill-rule="evenodd" d="M7.996 3.67a.583.583 0 0 1 0 .826l-1.921 1.92h6.758a.583.583 0 1 1 0 1.167H6.075l1.92 1.921a.583.583 0 1 1-.824.825L4.254 7.412a.583.583 0 0 1 0-.824L7.171 3.67a.583.583 0 0 1 .825 0Z" clip-rule="evenodd"/>
							<path fill="#334155" d="M10.327 2.917c.39 0 .68-.369.536-.73C10.18.47 8.761 0 6.005 0 1.54 0 .583 1.236.583 7s.957 7 5.422 7c2.756 0 4.175-.47 4.858-2.187.144-.361-.146-.73-.536-.73-.264 0-.49.176-.598.417a2.17 2.17 0 0 1-.261.447c-.424.547-1.233.886-3.463.886s-3.039-.339-3.463-.886c-.236-.305-.447-.791-.59-1.62C1.81 9.5 1.75 8.422 1.75 7s.06-2.5.202-3.328c.143-.828.354-1.314.59-1.62.424-.546 1.232-.885 3.463-.885 2.23 0 3.039.339 3.463.886.092.118.18.264.261.447.108.241.334.417.598.417Z"/>
						</svg>

						ورود نمایندگان
					</a>
				</button>
			</div>
		</div>
		<nav class="rounded-b-[20px] items-center bg-gray-100 px-6 py-2 mx-14 hidden md:flex border">
			<ul class="text-slate-700 font-light text-base flex items-center gap-5">
				<li>
					<a class="whitespace-nowrap hover:text-blue-700" href="/">صفحه اصلی</a>
				</li>
				<li class="whitespace-nowrap hover:text-blue-700">
					<a href="{{ path('career_page') }}">همکاری با آریاکیش</a>
				</li>
				<li class="whitespace-nowrap hover:text-blue-700">
					<a href="#">پرسش و پاسخ</a>
				</li>
				<li class="whitespace-nowrap hover:text-blue-700">
					<a href="{{ path('contactus_page') }}">
						تماس با ما
					</a>
				</li>
				<li class="whitespace-nowrap hover:text-blue-700">
					<a href="{{ path('aboutus_page') }}">
						درباره ما
					</a>
				</li>
				<li class="whitespace-nowrap hover:text-blue-700">
					<a href="#">
						شرایط و قوانین
					</a>
				</li>
			</ul>
			<div class="mr-auto whitespace-nowrap">
				<a class="hover:text-blue-700 text-slate-700" href="tel:02186780">
					<span>
						021-86780
					</span>
					<svg xmlns="http://www.w3.org/2000/svg" class="inline fill-current" width="14" height="14" fill="none" viewbox="0 0 14 14">
						<path fill-rule="evenodd" d="M1.369 1.004C1.807.641 2.485.194 3.217.217h.022L3.26.22c.406.042.774.24 1.09.536l.002.002c.216.205.598.639.93 1.06.167.212.332.433.462.631.065.099.125.198.175.293.044.085.098.199.124.32.138.624-.151 1.116-.314 1.392l-.019.031-.013.023c-.047.08-.108.169-.16.246l-.006.008c-.11.162-.206.305-.267.433a.741.741 0 0 0-.036.084c.223.512.534 1.02.911 1.494.455.527 1.154 1.18 1.51 1.425.36.246.732.453 1.11.612a.796.796 0 0 0 .104-.04 4.1 4.1 0 0 0 .458-.264l.007-.005c.074-.047.158-.1.232-.143l.005-.002.024-.014.03-.016c.29-.159.794-.436 1.441-.304h.002-.003.001c.123.025.24.075.327.118.096.047.198.104.3.165.203.124.43.28.651.44.432.313.882.677 1.097.887l-.002-.001.004.003-.002-.002c.306.296.528.66.562 1.085l.001.01v.01c.03.7-.418 1.342-.787 1.76-.374.422-.801.763-1.024.9-.057.035.04-.027 0 0-.888.618-1.998.542-3.136.044-.027-.012.023.009 0 0-1.217-.482-2.62-1.465-3.935-2.611-.47-.41-1.374-1.272-1.659-1.59l.006.007-.012-.014.006.007C2.13 7.841.977 6.304.417 5.015c-.012-.028.012.024 0 0C.147 4.455 0 3.905 0 3.387A2.356 2.356 0 0 1 .43 2.01l.033-.05-.014.02c.07-.11.19-.258.324-.405a5.74 5.74 0 0 1 .596-.57Zm7.358 7.813h.002-.002ZM5.22 5.312v-.001.001Zm-3.776-2.74v.001l-.016.026-.018.024a1.243 1.243 0 0 0-.243.764c0 .314.09.701.31 1.155l.006.011.005.011C1.97 5.681 3.025 7.112 4.32 8.477l.006.006.006.007c.231.259 1.105 1.095 1.563 1.494 1.282 1.118 2.57 2.001 3.605 2.41l.01.003.01.005c.959.421 1.584.359 1.998.065l.02-.014.022-.013a4.17 4.17 0 0 0 .766-.684c.337-.38.512-.725.507-.96-.009-.077-.055-.199-.222-.36l-.003-.003c-.153-.15-.55-.475-.968-.779a8.717 8.717 0 0 0-.57-.385 2.586 2.586 0 0 0-.259-.138c-.185-.034-.337.03-.651.201l-.016.009a5.107 5.107 0 0 0-.185.114l-.013.009a4.841 4.841 0 0 1-.594.336c-.196.089-.568.23-.944.097l-.012-.004-.013-.005a7.39 7.39 0 0 1-1.406-.762c-.47-.322-1.248-1.061-1.74-1.633l-.006-.008-.007-.008a7.822 7.822 0 0 1-1.107-1.841l-.003-.008-.003-.008c-.14-.363.007-.721.096-.906.101-.21.243-.419.342-.565l.009-.013c.06-.088.1-.148.128-.195l.01-.018c.181-.308.242-.448.208-.615l-.025-.051a2.401 2.401 0 0 0-.118-.196 8.317 8.317 0 0 0-.405-.553c-.318-.403-.66-.786-.817-.936-.165-.154-.295-.207-.383-.22-.261.002-.633.187-1.03.517a4.814 4.814 0 0 0-.63.634c-.033.041-.048.064-.052.07Z" clip-rule="evenodd"/>
					</svg>
				</a>
			</div>
		</nav>
	</div>
</header>
