{% extends 'dashboard/base.html.twig' %}

{% block title %}
	مدیریت سایت
{% endblock %}

{% block body %}
	<div class="flex justify-between items-center">
		<div class="flex flex-col gap-1">
			<h1 class="text-slate-600 font-bold text-2xl">
				مدیریت گرامی
			</h1>
			<p class="text-slate-400 font-semibold">
				به پیشخوان خود خوش آمدید.
			</p>
		</div>
		<div class="flex gap-5 items-center">
			<button class="flex gap-4 px-4 py-2 bg-white hover:bg-blue-600 hover:text-white hover:border-blue-600 transition-colors text-blue-600 border border-blue-300 rounded items-center">
				<svg xmlns="http://www.w3.org/2000/svg" class="inline stroke-current" width="18" height="18" fill="none" viewbox="0 0 24 24">
					<rect width="18.008" height="18.008" x="2.996" y="2.997" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" rx="3"/>
					<rect width="3.501" height="3.501" x="6.998" y="6.998" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" rx=".5"/>
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M13.5 6.998h3.502M13.5 10.5h3.502m-10.004 3h10.004M6.998 17.002h10.004"/>
				</svg>
				<span class="text-sm font-bold">
					تنظیمات سایت
				</span>
			</button>
			<button class="text-white px-2 py-2 rounded flex justify-center items-center bg-blue-600 hover:bg-blue-700 transition-colors">
				<svg xmlns="http://www.w3.org/2000/svg" class="inline stroke-current" width="20" height="20" fill="none" viewbox="0 0 24 24">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M12 8v8m4-4H8"/>
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M12 21v0a9 9 0 0 1-9-9v0a9 9 0 0 1 9-9v0a9 9 0 0 1 9 9v0a9 9 0 0 1-9 9Z" clip-rule="evenodd"/>
				</svg>
			</button>
		</div>
	</div>
	<div class="flex gap-3 mt-5">
		<div class="border p-5 w-1/3 rounded gap-2 flex flex-col bg-white">
			<div class="text-slate-400 flex justify-between">
				<p class="text-xs font-semibold">کل واریزی</p>
				<svg xmlns="http://www.w3.org/2000/svg" class="inline stroke-current" width="20" height="20" fill="none" viewbox="0 0 24 24">
					<circle cx="12" cy="12" r="9.004" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"></circle>
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M9.685 9.685A2.181 2.181 0 0 1 11.9 7.998 2.137 2.137 0 0 1 14.15 10c0 1.504-2.15 2-2.15 3.001m.125 2.751a.125.125 0 1 1-.125-.125"></path>
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M12 15.627c.07 0 .125.056.125.125"></path>
				</svg>
			</div>
			<div class="flex items-center gap-4">
				<p class="font-semibold text-2xl text-green-600">
					49,595,000 تومان
				</p>
			</div>
			<div>
				<div class="flex flex-col gap-2">
					<div>
						<p class="text-slate-400 text-xs">این ماه</p>
						<p class="font-semibold text-slate-600">2,940,000 تومان</p>
					</div>
					<div>
						<p class="text-slate-400 text-xs">این هفته</p>
						<p class="font-semibold text-slate-600">2,940,000 تومان</p>
					</div>
				</div>
			</div>
		</div>
		<div class="border p-5 w-1/3 rounded gap-2 flex flex-col bg-white">
			<div class="text-slate-400 flex justify-between">
				<p class="text-xs font-semibold">
					گزارشات کلی
				</p>
				<svg xmlns="http://www.w3.org/2000/svg" class="inline stroke-current" width="20" height="20" fill="none" viewbox="0 0 24 24">
					<circle cx="12" cy="12" r="9.004" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"></circle>
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M9.685 9.685A2.181 2.181 0 0 1 11.9 7.998 2.137 2.137 0 0 1 14.15 10c0 1.504-2.15 2-2.15 3.001m.125 2.751a.125.125 0 1 1-.125-.125"></path>
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M12 15.627c.07 0 .125.056.125.125"></path>
				</svg>
			</div>
			<div>
				<div class="flex grid-cols-2 justify-between gap-2">
					<div class="grid gap-2">
						<div>
							<p class="text-slate-400 text-xs">
								تعداد کل محصولات
							</p>
							<p class="text-blue-800 text-base font-medium me-2 px-2.5 py-0.5 rounded inline-block">
								200
							</p>
						</div>
						<div>
							<p class="text-slate-400 text-xs">
								تعداد کل مدیران
							</p>
							<p class="text-blue-800 text-base font-medium me-2 px-2.5 py-0.5 rounded inline-block">
								20
							</p>
						</div>
						<div>
							<p class="text-slate-400 text-xs">
								تعداد کل مشتریان
							</p>
							<p class="text-blue-800 text-base font-medium me-2 px-2.5 py-0.5 rounded inline-block">
								200
							</p>
						</div>
					</div>
					<div class="grid gap-2">
						<div>
							<p class="text-slate-400 text-xs">
								تعداد کل نمایندگان
							</p>
							<p class="text-blue-800 text-base font-medium me-2 px-2.5 py-0.5 rounded inline-block">
								200
							</p>
						</div>
						<div>
							<p class="text-slate-400 text-xs">
								تعداد کل تیکت ها
							</p>
							<p class="text-blue-800 text-base font-medium me-2 px-2.5 py-0.5 rounded inline-block">
								200
							</p>
						</div>
						<div>
							<p class="text-slate-400 text-xs">
								تعداد کل درخواست های تعمیر
							</p>
							<p class="text-blue-800 text-base font-medium me-2 px-2.5 py-0.5 rounded inline-block">
								200
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="border p-5 w-1/3 rounded gap-2 flex flex-col bg-white">
			<div class="p-4  flex justify-between text-slate-600">
				<div class=" flex flex-col gap-1">
					<p class="text-base text-slate-600 font-bold">فعالیت های کاربر
					</p>
					<p class=" text-slate-400 font-semibold text-xs">در 30 روز گذشته
						<svg xmlns="http://www.w3.org/2000/svg" class=" inline stroke-current" width="15" height="15" fill="none" viewbox="0 0 24 24">
							<circle cx="12" cy="12" r="9.004" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"></circle>
							<path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M11 15.502h2.31m-1.15 0V11.25h-1.151M12.1 8.246a.25.25 0 1 1-.25-.25"></path>
							<path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M11.85 7.996a.25.25 0 0 1 .25.25"></path>
						</svg>
					</p>
				</div>

				<button class="text-slate-600">
					<svg xmlns="http://www.w3.org/2000/svg" class="inline stroke-current" width="24" height="24" fill="none" viewbox="0 0 24 24">
						<path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M18.503 12a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0M12.5 12a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0m-6.002 0a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0"></path>
					</svg>
				</button>
			</div>
			<div class="p-2 flex gap-2">
				<div class=" flex items-center text-slate-600 gap-2">
					<svg xmlns="http://www.w3.org/2000/svg" class=" inline stroke-current" width="28" height="28" fill="none" viewbox="0 0 24 24">
						<path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M3 18a4 4 0 0 1 4-4h4a4 4 0 0 1 4 4m1-13.349a2.5 2.5 0 1 1 0 5m-4.595-4.655a3.401 3.401 0 1 1-4.81 4.81 3.401 3.401 0 0 1 4.81-4.81M17 13a4 4 0 0 1 4 4"></path>
					</svg>
					<div>
						<p class=" text-slate-600 font-bold">345</p>
						<p class=" text-slate-400 text-sm">عضویت نمایندگان</p>
					</div>

				</div>
				<div class=" flex items-center text-slate-600 gap-2">
					<svg xmlns="http://www.w3.org/2000/svg" class=" inline stroke-current" width="28" height="28" fill="none" viewbox="0 0 24 24">
						<path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M3 18a4 4 0 0 1 4-4h4a4 4 0 0 1 4 4m1-13.349a2.5 2.5 0 1 1 0 5m-4.595-4.655a3.401 3.401 0 1 1-4.81 4.81 3.401 3.401 0 0 1 4.81-4.81M17 13a4 4 0 0 1 4 4"></path>
					</svg>
					<div>
						<p class=" text-slate-600 font-bold">345</p>
						<p class=" text-slate-400 text-sm">عضویت مشتریان
						</p>
					</div>

				</div>
			</div>
		</div>
	</div>
	<div class="w-full flex justify-between mt-5">
		<div class="w-full border rounded bg-white">
			<div class=" border-b p-5 flex justify-between">
				<div class=" flex gap-6 items-center">
					<p class=" text-slate-600 font-bold">فعالیت های سفارشات</p>
					<a class=" text-blue-500 font-semibold text-sm">مشاهده تاریخچه</a>
				</div>
			</div>
			<table class="table w-full">
				<thead class=" table-header-group border-b">
					<tr class=" text-slate-400 text-sm ">
						<th class="font-semibold p-4">نوع</th>
						<th class="font-semibold p-4">توضیحات</th>
						<th class="font-semibold p-4">تاریخ</th>
						<th class="font-semibold p-4">زمان</th>
						<th class="font-semibold p-4">ارجاع</th>
						<th class="font-semibold p-4">مبلغ به تومان</th>
						<th class="font-semibold p-4">مبلغ</th>
					</tr>
				</thead>
				<tbody></tbody>
			</table>
		</div>
	</div>
{% endblock %}
